<script>
    window.openremote = window.openremote || {};

    window.openremote.PresenterAware = {
        ready: function() {
            if (this._presenter) {
                this._presenter.ready();
            }
        },
        attached: function() {
            if (this._presenter) {
                this.async(function() {
                    this._presenter.attached();

                });
            }
        },
        detached: function() {
            if (this._presenter) {
                this._presenter.detached();
            }
        }

    };

    window.openremote.ConfirmableSelectableBehavior = {
        properties: {
            confirmSelection: {
                type: Boolean,
                value: false
            }
        },
        select: function(index) {
        },
        deselect: function() {
            this.onActivate({detail: {selected: null}})
        },
        onActivate: function(e) {
            if (e.stopPropagation) {
                e.stopPropagation();
            }
            if (this.confirmSelection) {
                var event = this.fire("activate", {selected: e.detail.selected});
                if (e.preventDefault) {
                    e.preventDefault();
                }
            } else {
                this.select(e.detail.selected);
            }
        }
    };

    window.openremote.StringUtilityBehavior = {
        truncateString: function (fullStr, strLen, separator) {
            if (fullStr.length <= strLen) return fullStr;

            separator = separator || '...';

            var sepLen = separator.length,
                    charsToShow = strLen - sepLen,
                    frontChars = Math.ceil(charsToShow / 2),
                    backChars = Math.floor(charsToShow / 2);

            return fullStr.substr(0, frontChars) +
                    separator +
                    fullStr.substr(fullStr.length - backChars);
        }

    };

</script>
