<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<!--
`<or-panel>` is a scrolling panel that can be shown/hidden on demand.

You can enable a show/hide switch with the `switchable` attribute, and set it
to `left` or `right` position.

You can set the `title` attribute for a label an the panel switch.

Custom property | Description | Default
----------------|-------------|----------
`--or-panel-width` | Width of panel | `200px`
`--or-panel-max-height` | Max height of panel | `50vh`
`--or-panel-background-color` | Background of panel | `white`
`--or-panel-content-background-color` | Background of content | `white`
`--or-panel-header-background-color` | Background of header | `rgba(255, 255, 255, 0.8)`
`--or-panel-header-color` | Text color of header | `black`
`--or-panel-button-color` | Button color | `--default-primary-color`
-->
<dom-module id="or-panel">
    <style>
        :host {
        }

        #title {
            background-color: var(--or-panel-header-background-color, rgba(255, 255, 255, 0.8));
            color: var(--or-panel-header-color, black);
        }

        #title.dirty {
            background-color: var(--or-panel-header-dirty-background-color, red);
            color: var(--or-panel-header-dirty-color, white);
        }

        #switchButton {
            order: 1;
        }

        #switchTitle {
            cursor: pointer;
            order: 2;
        }

        #switchTitleToolbar{
            order: 3;
        }

        #switchTitleToolbar /deep/ paper-button,
        #switchTitleToolbar /deep/ paper-button .content,
        #titleToolbar /deep/ paper-button,
        #titleToolbar /deep/ paper-button .content {
            padding: 2px;
            min-width: 2.5em;
        }

        #switchTitleToolbar /deep/ paper-menu .iron-selected,
        #titleToolbar /deep/ paper-menu .iron-selected {
            font-weight: inherit;
        }

        #panel,
        #switchableTitlePanel,
        #regularTitlePanel {
            width: var(--or-panel-width, 200px);
        }

        #regularTitlePanel {
        }

        #switchTitle {
            overflow: hidden;
        }

        #regularTitle {
            overflow: hidden;
            padding: 11px;
        }

        #panel > * {
            padding: 0;
        }

        #panel {
            position: relative;
            top: 0;
            left: 0;
            margin: 0 0 0.5em 0 !important;
            width: var(--or-panel-width, 200px);
            background: var(--or-panel-background-color, white);
            overflow: hidden;
            --paper-dialog-button-color: var(--or-panel-button-color, --paper-dialog-button-color)
        }

        #panelScrollable {
            margin: 0;
            --paper-dialog-scrollable: {
                padding: 0;
                background: var(--or-panel-content-background-color, white);
                max-height: var(--or-panel-max-height, 50vh);
            }
        }

        /* TODO Mixins don't work with content distribution? */
        #panel .buttons /deep/ .topToolbar,
        #panel .buttons /deep/ .bottomToolbar {
            padding: 0.2em 0;
        }

        #panel .buttons /deep/ paper-menu-button {
            padding: 0;
        }

        #panel .buttons /deep/ paper-menu .iron-selected {
            font-weight: inherit;
        }

        #panel .buttons /deep/ paper-button .keyboard-focus {
            font-weight: inherit;
            text-decoration: underline;
        }
    </style>
    <template>

        <div id="title">
            <template is="dom-if" if="[[switchable]]">
                <div id="switchableTitlePanel" class="layout horizontal center">
                    <paper-icon-button id="switchButton"
                                       on-tap="toggle"
                                       icon="menu"></paper-icon-button>
                    <template is="dom-if" if="[[title]]">
                        <div id="switchTitle" class="flex layout horizontal self-center" on-tap="toggle">
                            <paper-ripple center></paper-ripple>
                            <span>[[title]]</span>
                        </div>
                    </template>
                    <template is="dom-if" if="[[!title]]">
                        <div id="switchTitle" class="flex"></div>
                    </template>
                    <div id="switchTitleToolbar">
                        <content select=".titleToolbar"></content>
                    </div>
                </div>
            </template>
            <template is="dom-if" if="[[!switchable]]">
                <template is="dom-if" if="[[title]]">
                    <div id="regularTitlePanel" class="layout horizontal center center-justified">
                        <div id="regularTitle">[[title]]</div>
                        <div id="titleToolbar">
                            <content select=".titleToolbar"></content>
                        </div>
                    </div>
                </template>
                <template is="dom-if" if="[[!title]]">
                    <div id="regularTitlePanel" class="layout horizontal center">
                        <div id="titleToolbar" class="flex">
                            <content select=".titleToolbar"></content>
                        </div>
                    </div>
                </template>
            </template>
        </div>

        <paper-dialog id="panel" modal="[[modal]]">
            <div class="buttons">
                <content select=".topToolbar"></content>
            </div>
            <paper-dialog-scrollable id="panelScrollable">
                <content select=".content"></content>
            </paper-dialog-scrollable>
            <div class="buttons">
                <content select=".bottomToolbar"></content>
            </div>
        </paper-dialog>

    </template>
    <script>
        Polymer({
            is: 'or-panel',
            properties: {
                switchable: {
                    type: String,
                    value: ""
                },
                title: {
                    type: String,
                    value: ""
                },
                dirty: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true,
                    observer: "_onDirtyChange"
                },
                modal: {
                    type: Boolean,
                    value: false
                }
            },
            attached: function () {
                this.async(function () {
                    if (this.switchable == "right") {
                        if (this.title && this.$$("#switchTitle")) {
                            this.$$("#switchTitle").classList.add("end-justified");
                        }
                        if (this.$$("#switchButton")) {
                            this.$$("#switchButton").style.order = "3";
                            this.$$("#switchButton").style["-webkit-order"]= "3";
                        }
                        if (this.$$("#switchTitleToolbar")) {
                            this.$$("#switchTitleToolbar").style.order = "0";
                            this.$$("#switchTitleToolbar").style["-webkit-order"] = "0";
                        }
                    }
                    this.$.panel.noCancelOnEscKey = true;
                    this.$.panel.noCancelOnOutsideClick = true;
                });
            },
            toggle: function () {
                this.$.panel.toggle();
                this.$.panel.style.zIndex = "initial"; // TODO Fix for iron-dropdown cutoff
            },
            open: function () {
                this.$.panel.open();
                this.$.panel.style.zIndex = "initial"; // TODO Fix for iron-dropdown cutoff
            },
            close: function () {
                this.$.panel.close();
            },
            opened: function () {
                return this.$.panel.opened;
            },
            scrollToBottom: function () {
                var scrollable = this.$.panelScrollable.querySelector("#scrollable");
                scrollable.scrollTop = scrollable.scrollHeight;
            },
            _onDirtyChange: function (dirty) {
                this.toggleClass("dirty", dirty, this.$.title);
            }
        });
    </script>
</dom-module>