<link rel="import" href="../ui/or-panel.html">
<link rel="import" href="../ui/or-button.html">
<link rel="import" href="../ui/or-list.html">

<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/av-icons.html">

<script>
    document.addEventListener("gwtReadyClient", function () {
        Polymer({
            is: 'or-inventory-catalog',
            behaviors: [openremote.PresenterAware],
            properties: {
                _presenter: {
                    type: Object,
                    value: function () {
                        return new openremote.shell.inventory.InventoryCatalogPresenter(this);
                    }
                }
            },
            _onItemSelected: function (e) {
                this._presenter.itemSelected(e.model.catalogItem);
            },
            _itemDragStart: function (e) {
                e.dataTransfer.setData("nodeType", e.model.catalogItem.nodeType);
                e.dataTransfer.effectAllowed = "copy";
            }
        });
    });
</script>

<dom-module id="or-inventory-catalog">
    <template>
        <style>
            :host {
                flex: auto;
                -webkit-flex: auto;
                display: flex;
                display: -webkit-flex;
                flex-direction: column;
                -webkit-flex-direction: column;
                overflow: hidden;
            }

            or-list-item.DEFAULT {
                background-color: var(--or-catalog-item-default-background-color);
            }

            or-list-item.SENSOR_ACTUATOR {
                background-color: var(--or-catalog-item-sensoractuator-background-color);
            }

            or-list-item.VIRTUAL {
                background-color: var(--or-catalog-item-virtual-background-color);
            }

            or-list-item.CLIENT {
                background-color: var(--or-catalog-item-client-background-color);
            }

            or-list-item .label {
                color: var(--or-catalog-item-label-color);
            }

            or-list-item.selected {
                background-color: var(--or-catalog-item-selected-background-color);
            }

            or-list-item.selected .label {
                color: var(--or-catalog-item-selected-label-color);
            }
        </style>

        <or-panel>
            <or-button class="panelTopToolbarItem" icon="av:library-books" on-tap="_openLibrary">Library</or-button>

            <div id="content" class="panelContent">

                <template is="dom-if" if="{{!_presenter.categorizedItems}}">
                    No elements in inventory.
                </template>

                <or-list>
                    <template is="dom-repeat" items="[[_presenter.categorizedItems]]" as="categorizedItem">
                        <or-list-section label="[[categorizedItem.category.label]]">
                            <template is="dom-repeat" items="[[categorizedItem.catalogItems]]" as="catalogItem">
                                <or-list-item
                                        class$="[[catalogItem.nodeColor]]"
                                        draggable="true"
                                        on-dragstart="_itemDragStart"
                                        on-tap="_onItemSelected">
                                    <span class="label">[[catalogItem.label]]</span>
                                </or-list-item>
                            </template>
                        </or-list-section>
                    </template>
                </or-list>

            </div>

        </or-panel>
    </template>
</dom-module>

