<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5.5level %date [%-12.12thread] %-35.35logger{35} | %m%n</pattern>
        </encoder>
    </appender>

    <root level="${loggingDefaultLevel:-INFO}">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- DISABLE THIS BLOCK IN PRODUCTION -->
<!--
    <logger name="org.openremote" level="DEBUG"/>
    <logger name="org.apache.camel" level="INFO"/>
    <logger name="org.apache.camel.component.http" level="DEBUG"/>
    <logger name="org.apache.camel.component.mock" level="TRACE"/>
-->
    <!-- DISABLE THIS BLOCK IN PRODUCTION -->

    <!-- Show JSON parsing problems with WARN -->
    <logger name="org.openremote.json" level="OFF"/>

    <!-- Show HTTP resource update conflicts with WARN -->
    <logger name="org.openremote.conflict" level="WARN"/>

    <!-- Show HTTP invalid requests/entity validation failures with WARN -->
    <logger name="org.openremote.badrequest" level="OFF"/>

    <!-- Debug persistence problems with TRACE -->
    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="WARN"/>

    <!-- Some defaults for noisy categories, usually don't need to change this -->
    <logger name="org.apache.camel.component.seda" level="INFO"/>
    <logger name="org.apache.camel.testng" level="WARN"/>
    <logger name="org.apache.camel.main" level="WARN"/>
    <logger name="org.apache.camel.impl.converter" level="WARN"/>
    <logger name="org.apache.camel.management" level="WARN"/>
    <logger name="org.apache.camel.component.jackson" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.validator.messageinterpolation.ParameterMessageInterpolator" level="ERROR"/>

</configuration>
