<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5.5level %date [%-12.12thread] %-35.35logger{35} | %m%n</pattern>
        </encoder>
    </appender>

    <root level="${loggingDefaultLevel:-INFO}">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.openremote.beta" level="INFO"/>
    <logger name="org.openremote.beta.server" level="INFO"/>
    <logger name="org.openremote.beta.json" level="WARN"/>
    <logger name="org.openremote.beta.test" level="DEBUG"/>

    <logger name="org.apache.camel" level="INFO"/>
    <logger name="org.apache.camel.main" level="WARN"/>
    <logger name="org.apache.camel.impl.converter" level="WARN"/>
    <logger name="org.apache.camel.management" level="WARN"/>
    <logger name="org.apache.camel.component.jetty" level="WARN"/>
    <logger name="org.apache.camel.component.jackson" level="WARN"/>
    <logger name="org.apache.camel.component.http" level="DEBUG"/>
    <logger name="org.apache.camel.testng" level="WARN"/>

    <logger name="org.eclipse.jetty.server" level="WARN"/>
    <logger name="org.eclipse.jetty.server.handler.AbstractHandler" level="ERROR"/>
    <logger name="org.eclipse.jetty.util.log" level="WARN"/>

</configuration>
