<script src="../util.js"></script>
<script src="../../gwt/Client/Client.nocache.js"></script>

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared/or-component-behaviors.html">

<link rel="import" href="or-shell-toast.html">
<link rel="import" href="or-shell-messagelog.html">
<link rel="import" href="or-shell-confirmation.html">

<script>
    // One-time initialization, this MUST be a script in an imported file! The
    // GWT entry point will poll for this function indefinitely and call it when
    // imports are loaded. Horrible, and not sure this means ALL imports are loaded.
    // Must still wait for Polymer to initialize itself first. It's not compatible
    // with RequireJS either.
    // TODO Is there no better solution?
    function onGwtReadyClient() {
        waitUntil(function () {
            return window.Polymer;
        }, 100, 50, function () {
            document.dispatchEvent(new CustomEvent("gwtReadyClient"));
        });
    }

    document.addEventListener("gwtReadyClient", function () {

        Polymer({
            is: 'or-shell',
            behaviors: [openremote.PresenterAware],
            properties: {
                _presenter: {
                    type: Object,
                    value: function () {
                        return new openremote.shell.ShellPresenter(this);
                    }
                },
                _consoleWidth: {
                    type: Number,
                    value: 400
                },
                _consoleResizeHandleWidth: {
                    type: Number,
                    value: 35
                },
                _consoleResizeThreshold: {
                    type: Number,
                    value: 10
                },
                _consoleResizeSnapRightThreshold: {
                    type: Number,
                    value: 150
                },
                _consoleResizeSnapLeftThreshold: {
                    type: Number,
                    value: 400
                },
                _consoleResizeInProgress: {
                    type: Number,
                    value: null
                }
            },
            listeners: {
                "editor-open": "_onEditorOpen",
                "editor-close": "_onEditorClose",
                "show-info": "_onShowInfo",
                "show-failure": "_onShowFailure",
                "request-complete": "_onShowInfo"
            },
            _onEditorOpen: function (ce, event) {
                this.$.editor.style.display = "inherit";
                if (event.flowId) {
                    this.$.editor.src = "editor.html?flowId=" + event.flowId; // TODO hack, we need a URL router?
                } else {
                    this.$.editor.src = "editor.html";
                }
                this._consoleResize(this._consoleWidth);
                this.$.consoleResizeHandle.style.minWidth = this._consoleResizeHandleWidth + "px";
                this.$.consoleResizeHandle.style.display = "block";
                this.toggleAttribute("hidden", false, this.$.editor);
            },
            _onEditorClose: function () {
                this.$.editor.style.display = "none";
                this.$.editor.src = "about:blank";
                this._consoleResize();
                this.$.consoleResizeHandle.style.minWidth = "0";
                this.$.consoleResizeHandle.style.display = "none";
                this.toggleAttribute("hidden", true, this.$.editor);
            },
            _consoleResizeStart: function (e, detail) {
                this.$.editor.style.pointerEvents = "none";
                this.$.console.style.pointerEvents = "none";
                document.documentElement.addEventListener("mousemove", this._consoleResizeMove.bind(this), false);
                document.documentElement.addEventListener("mouseup", this._consoleResizeEnd.bind(this), false);
                document.documentElement.addEventListener("touchmove", this._consoleResizeMove.bind(this), false);
                document.documentElement.addEventListener("touchcancel", this._consoleResizeEnd.bind(this), false);
                document.documentElement.addEventListener("touchend", this._consoleResizeEnd.bind(this), false);
                this.toggleClass("active", true, this.$.consoleResizeHandle);
                this.toggleClass("active", true, this.$.consoleLabel);
                this._consoleResizeInProgress = {cursor: detail.x, originalWidth: this.$.console.clientWidth};
            },
            _consoleResizeMove: function (e) {
                e.preventDefault();
                this.async(function () {
                    var x = e.clientX;
                    if (!x && e.changedTouches) {
                        x = e.changedTouches[0].clientX;
                    }
                    if (x && this._consoleResizeInProgress) {

                        var cursorOffset = this._consoleResizeInProgress.cursor - x;
                        var originalWidth = this._consoleResizeInProgress.originalWidth;
                        var newWidth = originalWidth + cursorOffset;

                        // Only move if diff is larger than threshold, might look choppy but avoids too many events
                        if (Math.abs(this.$.console.clientWidth - newWidth) < this._consoleResizeThreshold) {
                            return;
                        }

                        // Snap to right border if we are getting close and still moving right
                        if (x > document.documentElement.clientWidth - this._consoleResizeSnapRightThreshold && cursorOffset < 0) {
                            newWidth = 0;
                            this.toggleAttribute("hidden", true, this.$.console);
                        }

                        // Unsnap from right border
                        if (originalWidth == 0 && cursorOffset > 0) {
                           this.toggleAttribute("hidden", false, this.$.console);
                        }

                        // Snap to left border if we are getting close to left and still moving left
                        if (x <  this._consoleResizeSnapLeftThreshold  && cursorOffset > 0) {
                            newWidth = document.documentElement.clientWidth - this._consoleResizeHandleWidth;
                            this.toggleAttribute("hidden", true, this.$.editor);
                        }

                        // Unsnap from left border
                        if (originalWidth = document.documentElement.clientWidth - this._consoleResizeHandleWidth && cursorOffset < 0) {
                            this.toggleAttribute("hidden", false, this.$.editor);
                        }

                        if (newWidth >= 0) {
                            this._consoleResize(newWidth);
                        }
                    }
                });
            },
            _consoleResizeEnd: function (e) {
                if (this._consoleResizeInProgress) {
                    this.$.editor.style.pointerEvents = "auto";
                    this.$.console.style.pointerEvents = "auto";
                    document.documentElement.removeEventListener("mousemove", this._consoleResizeMove);
                    document.documentElement.removeEventListener("mouseup", this._consoleResizeEnd);
                    document.documentElement.removeEventListener("touchmove", this._consoleResizeMove);
                    document.documentElement.removeEventListener("touchcancel", this._consoleResizeEnd);
                    document.documentElement.removeEventListener("touchend", this._consoleResizeEnd);
                    this.toggleClass("active", false, this.$.consoleResizeHandle);
                    this.toggleClass("active", false, this.$.consoleLabel);
                    this._consoleResizeInProgress = null;
                }
            },
            _consoleResize: function (width) {
                if (width !== undefined) {
                    this.$.console.style.maxWidth = width + "px";
                    this._consoleWidth = width;
                } else {
                    this.$.console.style.maxWidth = "100vw";
                }
            },
            _onShowInfo: function (ce, event) {
                this.$.toast.show(false, event.text, 3000);
            },
            _onShowFailure: function (ce, event) {
                this.$.toast.show(true, event.text, event.durationMillis);
            }
        });

    });
</script>


<dom-module id="or-shell">
    <style>

        :host {
            height: 100vh;
            width: 100vw;
            display: flex;
            display: -webkit-flex;
        }

        #messageLog {
            z-index: 1;
        }

        #editor {
            display: none;
            flex: 1 0 auto;
            -webkit-flex: 1 0 auto;
        }

        #consoleResizeHandle {
            display: none;
            background-color: black;
            height: 100vh;
            cursor: pointer;
            position: relative;
            flex: 0 0 auto;
            -webkit-flex: 0 0 auto;
        }

        #console {
            height: 100vh;
            width: 100vw;
            flex: 1 1 100vw;
            -webkit-flex: 1 1 100vw;
        }

        #consoleResizeHandle.active {
            background-color: var(--or-lightgreen, grey);
        }

        #consoleLabel {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(-90deg);
            -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
            color: var(--or-lightgreen, white);
            font-style: italic;
        }

        #consoleLabel.active {
            color: var(--or-darkgrey, black);
        }

    </style>
    <template>

        <or-shell-toast id="toast"></or-shell-toast>

        <or-shell-messagelog id="messageLog"></or-shell-messagelog>

        <or-shell-confirmation id="confirmationDialog"></or-shell-confirmation>

        <iframe id="editor" frameborder="0" src="about:blank"></iframe>

        <div id="consoleResizeHandle" on-down="_consoleResizeStart">
            <div id="consoleLabel">CONSOLE</div>
        </div>

        <iframe id="console" frameborder="0" src="/console.html"></iframe>

    </template>
</dom-module>
