<script src="../util.js"></script>
<script src="../../gwt/Client/Client.nocache.js"></script>

<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../shared/or-component-behaviors.html">

<link rel="import" href="ui/or-confirmation.html">
<link rel="import" href="ui/or-toast.html">

<link rel="import" href="inventory/or-inventory.html">
<link rel="import" href="flowcontrol/or-flow-control.html">
<link rel="import" href="floweditor/or-flow-editor.html">
<link rel="import" href="nodeeditor/or-node-editor.html">
<link rel="import" href="consolesettings/or-console-settings.html">
<link rel="import" href="messagelog/or-messagelog.html">

<script>
    // One-time initialization, this MUST be a script in an imported file! The
    // GWT entry point will poll for this function indefinitely and call it when
    // imports are loaded. Horrible, and not sure this means ALL imports are loaded.
    // Must still wait for Polymer to initialize itself first. It's not compatible
    // with RequireJS either.
    // TODO Is there no better solution?
    function onGwtReadyClient() {
        waitUntil(function () {
            return window.Polymer;
        }, 100, 50, function () {
            document.dispatchEvent(new CustomEvent("gwtReadyClient"));
        });
    }

    document.addEventListener("gwtReadyClient", function () {

        Polymer({
            is: 'or-shell',
            behaviors: [openremote.PresenterAware],
            properties: {
                _presenter: {
                    type: Object,
                    value: function () {
                        return new openremote.shell.ShellPresenter(this);
                    }
                },
                _centerResizeSnapThreshold: {
                    type: Number,
                    value: 150
                },
                _centerResizeInProgress: {
                    type: Object
                }
            },
            listeners: {
                "show-info": "_onShowInfo",
                "show-failure": "_onShowFailure",
                "request-complete": "_onShowInfo"
            },
            ready: function () {
                this.addEventListener("mousemove", this._centerResizeMove.bind(this), false);
                this.addEventListener("mouseup", this._centerResizeEnd.bind(this), false);
                this.addEventListener("touchmove", this._centerResizeMove.bind(this), false);
                this.addEventListener("touchcancel", this._centerResizeEnd.bind(this), false);
                this.addEventListener("touchend", this._centerResizeEnd.bind(this), false);
            },
            _centerResizeStart: function (e, detail) {
                this.$.console.style.pointerEvents = "none";
                this._centerResizeInProgress = {startX: detail.x, originalWest: this.$$("#west").offsetWidth};
                this.toggleClass("active", true, this.$$("#centerResizeHandle"));
            },
            _centerResizeMove: function (e) {
                if (e.target.id == "centerResizeHandle") {
                    e.preventDefault(); // Stop whole body bounce on iOS Safari
                }
                if (!this._centerResizeInProgress) {
                    return;
                }
                var x = e.clientX; // Mouse or multi-touch?
                if (!x && e.changedTouches) {
                    x = e.changedTouches[0].clientX;
                }
                if (x) {
                    // We are resizing the west panel
                    var currentWidth = this.$$("#west").offsetWidth;
                    var cursorOffset = this._centerResizeInProgress.startX - x;
                    var originalWidth = this._centerResizeInProgress.originalWest;
                    var newWidth = originalWidth - cursorOffset;

                    // Snap to right border if we are getting close
                    if (x > document.documentElement.clientWidth - this._centerResizeSnapThreshold) {
                        newWidth = document.documentElement.clientWidth - 32;
                        this.toggleAttribute("hidden", true, this.$.east);
                    }

                    // Unsnap from right border
                    if (newWidth < document.documentElement.clientWidth - 32 && this.$.east.attributes["hidden"]) {
                        this.toggleAttribute("hidden", false, this.$.east);
                    }

                    // Snap to left border if we are getting close
                    if (x < this._centerResizeSnapThreshold) {
                        newWidth = 0;
                        this.toggleAttribute("hidden", true, this.$$("#west"));
                    }

                    // Unsnap from left border
                    if (currentWidth == 0 && newWidth > 0) {
                        this.toggleAttribute("hidden", false, this.$$("#west"));
                    }

                    if (newWidth >= 0) {
                        this.$$("#west").style.minWidth = newWidth + "px";
                        this.$$("#west").style.maxWidth = newWidth + "px";
                    }
                }
            },
            _centerResizeEnd: function (e) {
                if (this._centerResizeInProgress) {
                    this.$.console.style.pointerEvents = "auto";
                    this._centerResizeInProgress = null;
                    this.toggleClass("active", false, this.$$("#centerResizeHandle"));
                }
            },
            _onShowInfo: function (ce, event) {
                this.$.toast.show(false, event.text, 3000);
            },
            _onShowFailure: function (ce, event) {
                this.$.toast.show(true, event.text, event.durationMillis);
            }
        });

    });
</script>


<dom-module id="or-shell">
    <template>
        <style>

            :host {
                width: 100%;
                height: 100%;
                display: flex;
                display: -webkit-flex;
                flex-direction: column;
                -webkit-flex-direction: column;
            }

            #center {
            }

            #north,
            #south {
                padding: 0 0.2em;
                height: 2.75em;
                background-color: var(--or-toolbar-background-color);
                color: var(--or-toolbar-color);
            }

            #west {
                flex: 1 1 auto;
                -webkit-flex: 1 1 auto;
                min-width: 50%;
                max-width: 50%;
            }

            #east {
                flex: 1 1 auto;
                -webkit-flex: 1 1 auto;
                /* TODO one line background artifact on top in safari */
                background-color: var(--or-toolbar-background-color);
            }

            #console {
                flex: 1 1 auto;
                -webkit-flex: 1 1 auto;
            }

            #centerResizeHandle {
                position: relative;
                background-color: var(--or-toolbar-background-color);
                color: var(--or-toolbar-color);
                cursor: pointer;
                flex: 0 0 32px;
                -webkit-flex: 0 0 32px;
            }

            #centerResizeHandle .line1,
            #centerResizeHandle .line2,
            #centerResizeHandle .line3 {
                position: absolute;
                height: 4%;
                width: 1px;
                border-left: 2px solid var(--or-toolbar-highlight-color);
                top: 48%;
            }

            #centerResizeHandle .line1 {
                left: 10px;
            }

            #centerResizeHandle .line2 {
                left: 15px;
            }

            #centerResizeHandle .line3 {
                left: 20px;
            }

            #centerResizeHandle.active {
                background-color: var(--or-toolbar-active-background-color);
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

                #north1 {
                    flex: 6;
                    -webkit-flex: 6;
                }

                #north2,
                #north3 {
                    flex: 7;
                    -webkit-flex: 7;
                }

            }

        </style>

        <or-toast id="toast"></or-toast>
        <or-confirmation id="confirmationDialog"></or-confirmation>

        <template is="dom-if" if="[[!_presenter.consoleMaximized]]">
            <div id="north"
                 class="layout horizontal center">
                <div id="north1" class="flex layout horizontal center">
                    <or-inventory id="inventory"></or-inventory>
                </div>
                <div id="north2" class="layout horizontal center">
                    <or-flow-control id="flowControl"
                                     dirty="{{_presenter.flowDirty}}"></or-flow-control>
                </div>
                <div id="north3" class="flex layout horizontal center end-justified">
                    <or-node-editor id="nodeEditor"></or-node-editor>
                </div>
            </div>
        </template>

        <div id="center" class="flex layout horizontal">

            <template is="dom-if" if="[[!_presenter.consoleMaximized]]">
                <div id="west"
                     class="layout horizontal">
                    <or-flow-editor id="flowEditor"></or-flow-editor>
                </div>

                <div id="centerResizeHandle"
                     on-down="_centerResizeStart">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </template>

            <div id="east" class="layout horizontal">
                <iframe id="console" frameborder="none" src="/console.html"></iframe>
            </div>

        </div>

        <template is="dom-if" if="[[!_presenter.consoleMaximized]]">
            <div id="south"
                 class="layout horizontal">
                <div class="flex layout horizontal center">
                    <or-messagelog id="messageLog"></or-messagelog>
                </div>
                <div class="flex layout horizontal center end-justified">
                    <or-console-settings id="consoleSettings"
                                         console-has-widgets$="{{_presenter.consoleHasWidgets}}"></or-console-settings>
                </div>
            </div>
        </template>

    </template>
</dom-module>
