<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">

<!--
`<or-shell-toast>` shows a message in a toast popup.

Custom property | Description | Default
----------------|-------------|----------
`--or-shell-toast-background-color` | Toast background color | `#333`
`--or-shell-toast-color` | Toast text/foreground color | `white`

-->
<dom-module id="or-shell-toast">

    <style>
        :host {
            z-index: 9999;
        }
        #toast {
            background-color: var(--or-shell-toast-background-color, #333);
            color: var(--or-shell-toast-color, white);
        }

        #toast.warning {
            background-color: var(--or-shell-toast-warning-background-color, #ff0000);
            color: var(--or-shell-toast-warning-color, white);
        }
    </style>

    <template>
        <paper-toast text="SHIT" id="toast"></paper-toast>
    </template>

    <script>
        Polymer({
            is: 'or-shell-toast',
            /**
             * Show the toast, durable if duration is undefined.
             * @param text
             * @param duration
             */
            show: function (warning, text, duration) {
                this.toggleClass("warning", warning, this.$.toast);
                this.$.toast.text = text;
                if (duration) {
                    this.$.toast.duration = duration;
                }
                this.$.toast.show();
            },
            /**
             * Hide the toast.
             */
            hide: function() {
                this.$.toast.hide();
            }
        });
    </script>
</dom-module>

