<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<!--
`<or-shell-busy-indicator>` shows a spinner while active.

Custom property | Description | Default
----------------|-------------|----------
`--or-shell-busy-indicator-color` | Busy indicator spinner color | `#333`
`--or-shell-busy-indicator-secondary-color` | Busy indicator spinner secondary color | `#333`

-->
<dom-module id="or-shell-busy-indicator">

    <style>
        :host {
            z-index: 9999;
        }

        #spinner {
            --paper-spinner-layer-1-color: var(--or-shell-busy-indicator-color, #333);
            --paper-spinner-layer-2-color: var(--or-shell-busy-indicator-secondary-color, #333);
            --paper-spinner-layer-3-color: var(--or-shell-busy-indicator-color, #333);
            --paper-spinner-layer-4-color: var(--or-shell-busy-indicator-secondary-color, #333);
        }
    </style>

    <template>
        <paper-spinner id="spinner" active></paper-spinner>
    </template>

    <script>
        Polymer({
            is: 'or-shell-busy-indicator',
            /**
             * Show the busy indicator.
             */
            show: function () {
                this.$.spinner.active = true;
            },
            /**
             * Hide the busy indicator.
             */
            hide: function () {
                this.$.spinner.active = false;
            }
        });
    </script>
</dom-module>

