<link rel="import" href="../shared/or-panel.html">

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<script>
    document.addEventListener("gwtReadyClient", function () {
        Polymer({
            is: 'or-shell-messagelog',
            behaviors: [openremote.PresenterAware],
            properties: {
                _presenter: {
                    type: Object,
                    value: function () {
                        return new openremote.shell.MessageLogPresenter(this);
                    }
                }
            },
            listeners: {
                "message-log-open": "_onMessageLogOpen",
                "message-log-close": "_onMessageLogClose"
            },
            observers: [
                "_onMessageLogUpdate(_presenter.log.splices)"
            ],
            _onMessageLogOpen: function () {
                this.toggleAttribute("hidden", false, this.$.panel);
            },
            _onMessageLogClose: function () {
                this.toggleAttribute("hidden", true, this.$.panel);
                this._clearMessageLog();
            },
            _clearMessageLog: function () {
                this._presenter.clearMessageLog();
            },
            _onMessageLogUpdate: function () {
                this.debounce("LogScrollDelay", function() {
                    this.$.panel.scrollToBottom();
                }, 1);
            },
            _getLabelClass: function (value) {
                return "layout horizontal label " + (value ? "" : "empty");
            }
        });
    });
</script>

<dom-module id="or-shell-messagelog">

    <style>
        :host {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }

        #panel {
            --or-panel-width: 500px;
            --or-panel-max-height: 200px;
        }

        .content {
            padding: 0.4em;
            user-select: text;
            -webkit-user-select: text;
            -moz-user-select: text;
        }

        .message {
            padding: 0.4em;
            margin: 0.4em 0;
            font-size: smaller;
            background-color: var(--or-messagelog-item-background-color, grey);
            color: var(--or-messagelog-item-text-color, --primary-text-color);
            border-radius: 0.4em;
        }

        .message .label {
        }

        .message .label.empty {
            display: none;
        }

        .message .value {
            font-weight: bold;
        }

        .message .body {
            border-left: 1px dashed black;
            margin-left: 0.5em;
            padding-left: 0.5em;
        }
    </style>

    <template>
        <or-panel id="panel"
                  title="[[_presenter.messageLogTitle]]"
                  switchable="right"
                  hidden>
            <div class="content">
                <template is="dom-repeat" items="[[_presenter.log]]" as="logDetail">
                    <div>
                        <div class="message layout horizontal center">
                            <div class="flex-6 layout vertical">
                                <div class$="{{_getLabelClass(logDetail.flowLabel)}}">
                                    Flow:&#160;<span class="value">[[logDetail.flowLabel]]</span>
                                </div>
                                <div class$="{{_getLabelClass(logDetail.nodeLabel)}}">
                                    Node:&#160;<span class="value">[[logDetail.nodeLabel]]</span>
                                </div>
                                <div class$="{{_getLabelClass(logDetail.sinkLabel)}}">
                                    Sink:&#160;<span class="value">[[logDetail.sinkLabel]]</span>
                                </div>
                                <div class$="{{_getLabelClass(logDetail.instanceLabel)}}">
                                    Instance:&#160;<span class="value">[[logDetail.instanceLabel]]</span>
                                </div>
                            </div>
                            <div class="flex-5 body">[[logDetail.body]]</div>
                        </div>
                    </div>
                </template>
                <template is="dom-if" if="[[!_messageLog.length]]">
                    No messages.
                </template>
            </div>

            <div class="toolbar layout horizontal center">
                <div class="layout horizontal center">
                    <paper-toggle-button checked="{{_presenter.watchAllFlows}}"></paper-toggle-button>
                    <span style="margin: 0 0.5em;">WATCH ALL FLOWS</span>
                </div>
                <paper-button on-tap="_clearMessageLog">
                    <iron-icon icon="icons:clear"></iron-icon>
                    Clear
                </paper-button>
            </div>

        </or-panel>
    </template>
</dom-module>

