<script src="../util.js"></script>
<script src="../../gwt/Client/Client.nocache.js"></script>

<link rel="import" href="or-shell-toast.html">
<link rel="import" href="or-shell-messagelog.html">

<script>
    // One-time initialization, this MUST be a script in an imported file! The
    // GWT entry point will poll for this function indefinitely and call it when
    // imports are loaded. Horrible, and not sure this means ALL imports are loaded.
    // Must still wait for Polymer to initialize itself first. It's not compatible
    // with RequireJS either.
    // TODO Is there no better solution?
    function onGwtReadyClient() {
        waitUntil(function () {
            return window.Polymer;
        }, 100, 50, function () {
            document.dispatchEvent(new CustomEvent("gwtReadyClient"));
        });
    }

    document.addEventListener("gwtReadyClient", function () {

        Polymer({
            is: 'or-shell',
            properties: {
                _presenter: {
                    type: Object,
                    value: function () {
                        return new openremote.shell.ShellPresenter(this);
                    }
                },
                editorMinWidth: {
                    type: Number,
                    value: 500
                },
                consoleWidth: {
                    type: Number,
                    value: 400
                },
                consoleResizeHandleWidth: {
                    type: Number,
                    value: 35
                },
                consoleResizeThreshold: {
                    type: Number,
                    value: 0
                },
                consoleResizeSnapRightThreshold: {
                    type: Number,
                    value: 150
                },
                editorVisible: {
                    type: Boolean,
                    reflectToAttribute: true
                },
                _consoleResizeInProgress: {
                    type: Number,
                    value: null
                }
            },
            listeners: {
                'show-info': '_showInfo',
                'show-failure': '_showFailure',
                'request-complete': '_showInfo'
            },
            attached: function () {
                if (this.editorVisible) {
                    this._showEditor();
                } else {
                    this._hideEditor();
                }

                var messageServerConnectEvent = new openremote.session.message.MessageServerConnectEvent();
                this.fire(messageServerConnectEvent.getType(), messageServerConnectEvent);
            },
            _toggleEditor: function () {
                if (this.editorVisible) {
                    this._hideEditor();
                } else {
                    this._showEditor();
                }
            },
            _showEditor: function () {
                this.$.editor.style.display = "inherit";
                this.$.editor.src = "editor.html";
                this.$.consoleContainer.style.flexBasis = this.consoleWidth + "px";
                this.$.consoleResizeHandle.style.minWidth = this.consoleResizeHandleWidth + "px";
                this.$.consoleResizeHandle.style.display = "inherit";
                this.editorVisible = true;

                var messageLogOpenEvent = new openremote.shell.MessageLogOpenEvent();
                this.$.messageLog.fire(messageLogOpenEvent.getType(), messageLogOpenEvent);
            },
            _hideEditor: function () {
                this.$.editor.style.display = "none";
                this.$.editor.src = "about:blank";
                this.$.consoleContainer.style.flexBasis = "100vw";
                this.$.consoleResizeHandle.style.minWidth = "0";
                this.$.consoleResizeHandle.style.display = "none";

                if (this.editorVisible) {
                    this.async(function () {
                        var editorClosedEvent = new openremote.shell.EditorClosedEvent();
                        this.fire(editorClosedEvent.getType(), editorClosedEvent);
                    });
                }

                this.editorVisible = false;

                var messageLogCloseEvent = new openremote.shell.MessageLogCloseEvent();
                this.$.messageLog.fire(messageLogCloseEvent.getType(), messageLogCloseEvent);
            },
            _consoleResizeStart: function (e, detail) {
                this.$.editor.style.pointerEvents = "none";
                this.$.console.style.pointerEvents = "none";
                document.documentElement.addEventListener("mousemove", this._consoleResizeMove.bind(this), false);
                document.documentElement.addEventListener("mouseup", this._consoleResizeEnd.bind(this), false);
                document.documentElement.addEventListener("touchmove", this._consoleResizeMove.bind(this), false);
                document.documentElement.addEventListener("touchcancel", this._consoleResizeEnd.bind(this), false);
                document.documentElement.addEventListener("touchend", this._consoleResizeEnd.bind(this), false);
                this.toggleClass("active", true, this.$.consoleResizeHandle);
                this.toggleClass("active", true, this.$.consoleLabel);
                this._consoleResizeInProgress = {cursor: detail.x, panelWidth: this.$.consoleContainer.clientWidth};
            },
            _consoleResizeMove: function (e) {
                e.preventDefault();
                this.async(function () {
                    var x = e.clientX || e.changedTouches[0].clientX;
                    if (x && this._consoleResizeInProgress) {

                        var cursorOffset = this._consoleResizeInProgress.cursor - x;
                        var newWidth = this._consoleResizeInProgress.panelWidth + cursorOffset;

                        // Only move if diff is larger than threshold, might look choppy but avoids too many events
                        if (Math.abs(this.$.consoleContainer.clientWidth - newWidth) < this.consoleResizeThreshold) {
                            return;
                        }

                        // Snap to right border if we are getting close and still moving towards the right
                        if (x > document.documentElement.clientWidth - this.consoleResizeSnapRightThreshold && cursorOffset < 0) {
                            newWidth = this.consoleResizeHandleWidth;
                        }

                        // Stay within bounds
                        if (newWidth >= this.consoleResizeHandleWidth
                                && newWidth + this.editorMinWidth < document.documentElement.clientWidth + 10) {
                            this._consoleResize(newWidth);
                        }
                    }
                });
            },
            _consoleResizeEnd: function (e) {
                if (this._consoleResizeInProgress) {
                    this.$.editor.style.pointerEvents = "auto";
                    this.$.console.style.pointerEvents = "auto";
                    document.documentElement.removeEventListener("mousemove", this._consoleResizeMove);
                    document.documentElement.removeEventListener("mouseup", this._consoleResizeEnd);
                    document.documentElement.removeEventListener("touchmove", this._consoleResizeMove);
                    document.documentElement.removeEventListener("touchcancel", this._consoleResizeEnd);
                    document.documentElement.removeEventListener("touchend", this._consoleResizeEnd);
                    this.toggleClass("active", false, this.$.consoleResizeHandle);
                    this.toggleClass("active", false, this.$.consoleLabel);
                    this._consoleResizeInProgress = null;
                }
            },
            _consoleResize: function (width) {
                this.$.consoleContainer.style.flexBasis = width + "px";
                this.consoleWidth = width;
            },
            _showInfo: function (ce, event) {
                this.$.toast.show(false, event.getMessage(), 3000);
            },
            _showFailure: function (ce, event) {
                this.$.toast.show(true, event.getMessage(), event.getDurationMillis());
            }
        });

    });
</script>


<dom-module id="or-shell">
    <style>

        :host {
            height: 100vh;
            display: flex;
            flex-direction: row;
        }

        #messageLog {
            z-index: 1;
        }

        #editor {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: auto;
            display: none;
        }

        #editorToggleButton {
            position: fixed;
            top: 3px;
            right: 3px;
            width: 28px;
            height: 28px;
            background: transparent;
            border: 2px dotted var(--default-primary-color, white);
            cursor: pointer;
        }

        #editorToggleButton:active {
            background: var(--default-primary-color, white);
            border: none;
        }

        #editorToggleButton:focus {
            outline: 0;
        }

        #consoleContainer {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 100vw;
            overflow: hidden;
            resize: horizontal;
            display: flex;
        }

        #consoleResizeHandle {
            background-color: black;
            height: 100vh;
            flex: 0 0 0;
            cursor: pointer;
            position: relative;
        }

        #consoleResizeHandle.active {
            background-color: var(--or-lightgreen, grey);
        }

        #consoleLabel {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(-90deg);
            color: var(--or-lightgreen, white);
            font-style: italic;
        }

        #consoleLabel.active {
            color: var(--or-darkgrey, black);
        }

        #console {
            height: 100vh;
            flex: 1 0 100px;
        }
    </style>
    <template>

        <or-shell-toast id="toast"></or-shell-toast>

        <or-shell-messagelog id="messageLog"></or-shell-messagelog>

        <iframe id="editor" frameborder="0" src="about:blank"></iframe>

        <div id="consoleContainer">
            <div id="consoleResizeHandle" on-down="_consoleResizeStart">
                <div id="consoleLabel">CONSOLE</div>
            </div>
            <iframe id="console" frameborder="0" src="/console.html"></iframe>
        </div>

        <button id="editorToggleButton" on-click="_toggleEditor"></button>

    </template>
</dom-module>
