<link rel="import" href="../bower_components/iron-selector/iron-selector.html">

<!--
`<or-editor-flows>` is loads available flows and presents them in a selection list.

Use the `--or-editor-flow-item-selected` CSS mixin to style the selected flow item.

Use the `--or-editor-flow-empty` CSS mixin to style the empty list element.

The events `loading` and `complete` are fired, reflecting the current state.

Custom property | Description | Default
----------------|-------------|----------
`--or-editor-flow-item-background-color` | Background color of flow list item | `white`
`--or-editor-flow-item-label-color` | Label text color of flow list item | `#333`

-->
<dom-module id="or-editor-flows">

    <style>
        .list {
            padding: 0.4em;
        }

        .flow {
            margin: 0 0 0.4em 0;
            padding: 0.4em;
            border-radius: 0.4em;
            background-color: var(--or-editor-flow-item-background-color, white);
            overflow-x: auto;
            cursor: pointer;
        }

        .list #empty {
            /* @formatter:off */
            @apply(--or-editor-flow-empty)
            /* @formatter:on */
        }

        .flow .label {
            font-size: smaller;
            color: var(--or-editor-flow-item-label-color, #333);
        }

        .flow.iron-selected {
            font-weight: bold;
            /* @formatter:off */
            @apply(--or-editor-flow-item-selected)
            /* @formatter:on */
        }
    </style>

    <template>
        <div class="list">
            <template is="dom-if" if="{{!flows.length}}">
                <div id="empty">No flows found.</div>
            </template>
            <iron-selector on-selected-changed="_flowSelected">
                <template is="dom-repeat" items="[[flows]]">
                    <div class="flow">
                        <div>
                            <span class="label">[[item.label]]</span>
                        </div>
                    </div>
                </template>
            </iron-selector>
        </div>
    </template>

    <script>
        document.addEventListener("gwtReadyEditor", function () {
            Polymer({
                is: 'or-editor-flows',
                properties: {
                    _presenter: {
                        type: Object,
                        value: function () {
                            return new openremote.flow.crud.FlowsPresenter(this);
                        }
                    },
                    /**
                     * The available flows.
                     */
                    flows: {
                        type: Array,
                        notify: true
                    }
                },
                listeners: {
                    'flows-loaded': '_flowsLoaded',
                    'request-failure': '_requestFailure'
                },
                _flowsLoaded: function (type, event) {
                    this.set("flows", event.getFlows());

                    // TODO remove
                    var event = new openremote.flow.crud.FlowLoadEvent(
                            this.flows[2].getId()
                    );
                    this.fire(event.getType(), event);

                },
                _requestFailure: function (type, event) {
                    this.set("flows", []);
                },
                _flowSelected: function (e) {
                    var event = new openremote.flow.crud.FlowLoadEvent(
                            this.flows[e.detail.value].getId()
                    );
                    this.fire(event.getType(), event);
                }
            });
        });
    </script>
</dom-module>

