<script src="util.js"></script>
<script src="../gwt/Editor/Editor.nocache.js"></script>

<link rel="import" href="or-editor-toast.html">
<link rel="import" href="or-editor-busy-indicator.html">
<link rel="import" href="or-editor-form.html">

<link rel="import" href="or-editor-flows.html">
<link rel="import" href="or-editor-flow-editor.html">

<script>
    // One-time initialization, this MUST be a script in an imported file! The
    // GWT entry point will poll for this function indefinitely and call it when
    // imports are loaded. Horrible, and not sure this means ALL imports are loaded.
    // Must still wait for Polymer to initialize itself first. It's not compatible
    // with RequireJS either.
    // TODO Is there no better solution?
    function onGwtReadyEditor() {
        waitUntil(function () {
            return window.Polymer;
        }, 100, 50, function () {
            document.dispatchEvent(new CustomEvent("gwtReadyEditor"));
        });
    }

    document.addEventListener("gwtReadyEditor", function () {
        Polymer({
            is: 'or-editor',
            properties: {
                _presenter: {
                    type: Object,
                    value: function() {
                        return new openremote.editor.EditorPresenter(this);
                    }
                }
            },
            listeners: {
                'show-info-message': '_showInfoMessage',
                'show-failure-message': '_showFailureMessage',
                'request-start': '_loadStart',
                'request-complete': '_loadComplete'
            },
            attached: function() {
                this.async(function() {
                    var event = new openremote.flow.crud.FlowsLoadEvent();
                    this.$.flows.fire(event.getType(), event);
                });
            },
            _showInfoMessage: function(ce, event) {
                this.$.toast.show(event.getMessage(), 3000);
                this.$.busyIndicator.hide();
            },
            _showFailureMessage: function(ce, event) {
                this.$.toast.show(event.getMessage());
                this.$.busyIndicator.hide();
            },
            _loadStart: function() {
                this.$.toast.show("Loading...");
                this.$.busyIndicator.show();
            },
            _loadComplete: function() {
                this.$.toast.hide();
                this.$.busyIndicator.hide();
            },
            _flowLoaded: function (ce, event) {
                var flowEditEvent = new openremote.flow.editor.FlowEditEvent(event.getFlow());
                this.$.flowEditor.fire(flowEditEvent.getType(), flowEditEvent);
            }
        });
    });
</script>

<dom-module id="or-editor">
    <style>

        :host {
            height: 100vh;
            display: flex;
            flex-direction: column;
        }

        #busyIndicator {
            position: fixed;
            top: 50vh;
            right: 10px;
        }

        #container {
            background: #eee;
            flex: 1 1 auto;
            display: flex;
            flex-direction: row;
        }

        #sidebar {
            background: var(--or-editor-sidebar-background-color, #ccc);
            max-width: 250px;
            min-width: 250px;
            overflow-y: auto;
        }

        #main {
            flex-grow: 1;
            width: 100%;
            height: 100vh;
            overflow: hidden;
        }

        @media all and (max-width: 640px) {

            #container {
                flex-direction: column;
            }

            #container > #sidebar {
                min-width: 100%;
                max-width: 100%;
                min-height: 50px;
                max-height: 20vh;
            }

            #container > #main {
                height: 80vh;
            }
        }

    </style>
    <template>
        <or-editor-toast id="toast"></or-editor-toast>
        <or-editor-busy-indicator id="busyIndicator"></or-editor-busy-indicator>

        <div id="container">
            <div id="sidebar">
                <or-editor-flows id="flows"
                                 on-flow-loaded="_flowLoaded"></or-editor-flows>
            </div>
            <div id="main">
                <or-editor-flow-editor id="flowEditor"></or-editor-flow-editor>
            </div>
        </div>
    </template>
</dom-module>


