<dom-module id="or-panel">
    <template>
        <style>
            :host {
                display: flex;
                display: -webkit-flex;
                flex-direction: column;
                -webkit-flex-direction: column;
                flex: 1 1 auto;
                -webkit-flex: 1 1 auto;
                overflow: hidden;
            }

            #topToolbar,
            #bottomToolbar {
                flex: 0 0 2.75em;
                -webkit-flex: 0 0 2.75em;
                display: flex;
                display: -webkit-flex;
                justify-content: flex-end;
                -webkit-justify-content: flex-end;
                align-items: center;
                -webkit-align-items: center;
                padding: 0 0.4em;
                background-color: var(--or-panel-toolbar-background-color);
                color: var(--or-panel-toolbar-color);
            }

            #topToolbar ::content > *,
            #bottomToolbar ::content > * {
                margin: 0 0.4em;
            }

            #contentWrapper {
                display: flex;
                display: -webkit-flex;
                flex-direction: row;
                -webkit-flex-direction: row;
                flex: 1 1 auto;
                -webkit-flex: 1 1 auto;
                overflow: hidden;
            }

            #sidebar {
                display: flex;
                display: -webkit-flex;
                flex-direction: column;
                -webkit-flex-direction: column;
                flex: 0 0 auto;
                -webkit-flex: 0 0 auto;
                max-width: 50%;
                overflow: hidden;
            }

            #content {
                display: flex;
                display: -webkit-flex;
                flex-direction: column;
                -webkit-flex-direction: column;
                flex: 1 1 auto;
                -webkit-flex: 1 1 auto;
                overflow: hidden;
            }

            #sidebar ::content > .panelSidebar {
                background-color: var(--or-panel-sidebar-background-color);
                color: var(--or-panel-sidebar-color);
                display: flex;
                display: -webkit-flex;
                flex-direction: column;
                -webkit-flex-direction: column;
                flex: 1 1 auto;
                -webkit-flex: 1 1 auto;
                overflow: auto;
                padding: 0.6em;
            }

            #content ::content > .panelContent {
                background-color: var(--or-panel-content-background-color);
                color: var(--or-panel-content-color);
                display: flex;
                display: -webkit-flex;
                flex-direction: column;
                -webkit-flex-direction: column;
                flex: 1 1 auto;
                -webkit-flex: 1 1 auto;
                overflow: auto;
                padding: 0.6em;
            }
        </style>

        <div id="topToolbar">
            <content select=".panelTopToolbarItem"></content>
        </div>

        <div id="contentWrapper">
            <div id="sidebar">
                <content select=".panelSidebar"></content>
            </div>
            <div id="content">
                <content select=".panelContent"></content>
            </div>
        </div>

        <div id="bottomToolbar">
            <content select=".panelBottomToolbarItem"></content>
        </div>

    </template>
    <script>
        Polymer({
            is: "or-panel",
            attached: function() {
                this.async(function() {
                    this._hideIfEmpty(this.$.topToolbar);
                    this._hideIfEmpty(this.$.content);
                    this._hideIfEmpty(this.$.sidebar);
                    this._hideIfEmpty(this.$.bottomToolbar);
                });
            },
            _hideIfEmpty: function(element) {
                this.toggleAttribute("hidden", this._getDistributedNodes(element).length == 0, element);
            },
            _getDistributedNodes: function(element) {
                return Polymer.dom(Polymer.dom(element).querySelector("content")).getDistributedNodes();
            },
            scrollToBottom: function () {
                var nodes = this._getDistributedNodes(this.$.content);
                for (var i = 0; i < nodes.length; i++) {
                    var contentNode = nodes[i];
                    if (contentNode.nodeType != 1) {
                        continue;
                    }
                    contentNode.scrollTop = contentNode.scrollHeight;
                }
            }
        });
    </script>
</dom-module>