<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">

<link rel="import" href="or-editor-inventory.html">
<link rel="import" href="or-editor-flows.html">
<link rel="import" href="or-editor-catalog.html">

<script>
    document.addEventListener("gwtReadyClient", function () {
        Polymer({
            is: 'or-editor-sidebar',
            behaviors: [openremote.PresenterAware],
            properties: {
                _presenter: {
                    type: Object,
                    value: function () {
                        return new openremote.editor.EditorSidebarPresenter(this)
                    }
                },
                _selectedTab: {
                    type: Number,
                    value: 1,
                    observer: "_onTabSelect"
                }
            },
            observers: [
                "_onCatalogVisible(_presenter.catalogVisible)"
            ],
            _onTabSelect: function (index) {
                switch (index) {
                    case 0:
                        this.set("_showInventory", true);
                        this.set("_showFlows", false);
                        break;
                    case 1:
                        this.set("_showInventory", false);
                        this.set("_showFlows", true);
                        break;
                }
            },
            _onCatalogVisible: function (visible) {
                this.toggleClass("catalogVisible", visible, this.$.browser);
            }
        });
    });
</script>


<dom-module id="or-editor-sidebar">
    <style>
        :host {
            display: flex;
            display: -webkit-flex;
            flex-direction: column;
            -webkit-flex-direction: column;
            height: 100vh;
        }

        #container {
            display: flex;
            display: -webkit-flex;
            flex-direction: column;
            -webkit-flex-direction: column;
            height: 100%;
        }

        #browser {
            height: 100%;
            width: 100%;
            min-width: 240px;
        }

        #browser.catalogVisible {
            height: 50%;
        }

        #catalog {
            height: 50%;
            width: 100%;
        }

        .section {
            display: flex;
            display: -webkit-flex;
            flex-direction: column;
            -webkit-flex-direction: column;
        }

        .section .head {
            background-color: var(--or-editor-sidebar-title-background-color, black);
            color: var(--or-editor-sidebar-title-color, white);
            flex: 0 0 40px;
            -webkit-flex: 0 0 40px;
            display: flex;
            display: -webkit-flex;
            flex-direction: row;
            -webkit-flex-direction: row;
            justify-content: center;
            -webkit-justify-content: center;
            align-items: center;
            -webkit-align-items: center;
            font-size: smaller;
        }

        .section .head .title {
            font-style: italic;
            font-size: 14px;
            cursor: default;
        }

        #inventory {
            --or-editor-inventory: {
                flex: 1 0 0;
                -webkit-flex: 1 0 0;
            };
            --or-editor-inventory-toolbar: {
                background: var(--or-editor-sidebar-toolbar-background-color);
                color: var(--or-editor-sidebar-toolbar-color);
            };
        }

        #flows {
            --or-editor-flows: {
                flex: 1 0 0;
                -webkit-flex: 1 0 0;
            };
            --or-editor-flows-toolbar: {
                background: var(--or-editor-sidebar-toolbar-background-color);
                color: var(--or-editor-sidebar-toolbar-color);
            };
        }

        #catalog {
            --or-editor-catalog: {
                flex: 1 0 0;
                -webkit-flex: 1 0 0;
            };

            --or-editor-catalog-toolbar: {
                background: var(--or-editor-sidebar-toolbar-background-color);
                color: var(--or-editor-sidebar-toolbar-color);
            };
        }

        @media all and (max-width: 640px) {

            #container {
                flex-direction: row;
                -webkit-flex-direction: row;
            }

            #browser,
            #browser.catalogVisible,
            #catalog {
                height: 40%;
            }
        }

    </style>

    <template>

        <div id="container">
            <div id="browser" class="section">
                <div class="head">
                    <paper-tabs selected="{{_selectedTab}}">
                        <paper-tab>THINGS</paper-tab>
                        <paper-tab>FLOWS</paper-tab>
                    </paper-tabs>
                </div>
                <template is="dom-if" if="[[_showInventory]]">
                    <or-editor-inventory id="inventory"></or-editor-inventory>
                </template>
                <template is="dom-if" if="[[_showFlows]]">
                    <or-editor-flows id="flows"></or-editor-flows>
                </template>
            </div>

            <template is="dom-if" if="[[_presenter.catalogVisible]]">
                <div id="catalog" class="section">
                    <div class="head">
                        <div class="title">ELEMENTS</div>
                    </div>
                    <or-editor-catalog id="catalog"></or-editor-catalog>
                </div>
            </template>
        </div>

    </template>
</dom-module>

