<link rel="import" href="or-editor-node-behaviors.html">

<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="or-editor-node-slider">

    <style>
    </style>
    <template>
        <div class="form">

            <div class="formItem">
                <div class="formValue">
                    <div class="flex layout horizontal center">
                        <paper-input
                                class="flex"
                                label="Width Pixels"
                                preventInvalidInput="true"
                                type="number" min="50" max="5000"
                                value="{{nodeProperties.widthPixels}}"></paper-input>
                        <div class="formDivider"></div>
                        <paper-input
                                class="flex"
                                label="Min Value"
                                preventInvalidInput="true"
                                type="number" min="0" max="9999"
                                value="{{nodeProperties.minValue}}"></paper-input>
                        <div class="formDivider"></div>
                        <paper-input
                                class="flex"
                                label="Max Value"
                                preventInvalidInput="true"
                                type="number" min="0" max="9999"
                                value="{{nodeProperties.maxValue}}"></paper-input>
                    </div>
                </div>
            </div>
            <div class="formItem">
                <div class="formValue">
                    <div class="flex layout horizontal center">
                        <paper-input
                                class="flex"
                                label="Color"
                                value="{{nodeProperties.color}}"></paper-input>
                        <div class="formDivider"></div>
                        <paper-input
                                class="flex"
                                label="Knob"
                                value="{{nodeProperties.knobColor}}"></paper-input>
                        <div class="formDivider"></div>
                        <paper-input
                                class="flex"
                                label="Progress"
                                value="{{nodeProperties.progressColor}}"></paper-input>
                    </div>
                </div>
            </div>
            <div class="formItem">
                <div class="formValue">
                    <div class="flex layout horizontal center">
                        <div class="flex">
                            <paper-toggle-button
                                    style="margin: 0 0.5em;"
                                    checked="{{nodeProperties.pin}}"></paper-toggle-button>
                            <span>PIN</span>
                        </div>
                        <div class="formDivider"></div>
                        <paper-input
                                class="flex"
                                label="Pin Color"
                                value="{{nodeProperties.pinColor}}"></paper-input>
                        <div class="formDivider"></div>
                        <paper-input
                                class="flex"
                                label="Pin Text"
                                value="{{nodeProperties.pinTextColor}}"></paper-input>
                    </div>
                </div>
            </div>
            <div class="formItem">
                <div class="formValue">
                    <div class="layout horizontal center start-justified">
                        <paper-toggle-button
                                style="margin: 0 0.5em;"
                                checked="{{nodeProperties.editable}}"></paper-toggle-button>
                        <span>SHOW VALUE & ALLOW INPUT</span>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "or-editor-node-slider",
            behaviors: [openremote.NodeEditor]
        });
    </script>
</dom-module>


