<script>
    window.OpenRemoteEditor = window.OpenRemoteEditor || {};

    window.OpenRemoteEditor.NodeEditor = {

        properties: {
            flow: {
                type: Object
            },
            node: {
                type: Object,
                observer: "_init"
            },
            nodeProperties: {
                type: Object
            }
        },
        observers: [
            "_nodePropertiesChanged(nodeProperties.*)"
        ],
        attached: function() {
            Polymer.dom(this.root).querySelectorAll(".nodePropertyInput").forEach(function(nodePropertyInput) {
            }.bind(this));
        },
        _init: function(node) {
            this.set("nodeProperties", openremote.Properties.getProperties(node.properties));
        },
        _nodePropertiesChanged: function() {
            openremote.Properties.setProperties(this.nodeProperties, this.node.properties);
            this.fire("nodePropertiesChanged");
        }
    };

</script>
