<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<script>
    document.addEventListener("gwtReadyClient", function () {
        Polymer({
            is: 'or-editor-catalog',
            behaviors: [openremote.PresenterAware],
            properties: {
                _presenter: {
                    type: Object,
                    value: function () {
                        return new openremote.editor.catalog.CatalogPresenter(this);
                    }
                }
            },
            _getItemClass: function (item) {
                return "item nodeColor " + item.nodeColor;
            },
            _itemSelected: function (e) {
                // Deselecting all others is a bit difficult...
                var items = this.$.list.querySelectorAll(".item");
                for (var i = 0; i < items.length; i++) {
                    var item = items[i];
                    this.toggleClass("selected", item == e.currentTarget, item);
                }

                this._presenter.itemSelected(e.model.catalogItem);
            },
            _itemDragStart: function (e) {
                e.dataTransfer.setData("nodeType", e.model.catalogItem.nodeType);
                e.dataTransfer.effectAllowed = "copy";
            }
        });
    });
</script>

<dom-module id="or-editor-catalog">

    <style>

        :host {
            display: flex;
            display: -webkit-flex;
            flex-direction: column;
            -webkit-flex-direction: column;
            @apply(--or-editor-catalog)
        }

        #toolbar {
            flex: 0 0 40px;
            -webkit-flex: 0 0 40px;
            display: flex;
            display: -webkit-flex;
            justify-content: space-around;
            -webkit-justify-content: space-around;
            white-space: nowrap;
            font-size: smaller;

            @apply(--or-editor-catalog-toolbar)
        }

        #toolbar paper-menu .iron-selected {
            font-weight: inherit;
        }

        #list {
            flex: 1 0 0;
            -webkit-flex: 1 0 0;
            overflow: auto;
            font-size: smaller;

            @apply(--or-editor-catalog-list)
        }

        #list #empty {
            @apply(--or-editor-catalog-list-empty)
        }

        .section {
            padding: 0.4em 0.4em 0 0.4em;
        }

        .category {
        }

        .category .label {
            font-weight: bold;
            cursor: default;
        }

        .item {
            display: inline-block;
            margin: 0.2em;
            padding: 0.4em;
            border-radius: 0.4em;
            background-color: var(--or-editor-flow-item-background-color, white);
            cursor: pointer;
        }

        .item.nodeColor.DEFAULT {
            background-color: var(--or-editor-flow-item-nodecolor-default);
        }

        .item.nodeColor.SENSOR_ACTUATOR {
            background-color: var(--or-editor-flow-item-nodecolor-sensor-actuator);
        }

        .item.nodeColor.VIRTUAL {
            background-color: var(--or-editor-flow-item-nodecolor-virtual);
        }

        .item.nodeColor.CLIENT {
            background-color: var(--or-editor-flow-item-nodecolor-client);
        }

        .item .label {
            color: var(--or-editor-flow-item-label-color, black);
        }

        .item.selected {
            background-color: var(--or-editor-flow-item-selected-background-color, black);
        }

        .item.selected .label {
            color: var(--or-editor-flow-item-selected-label-color, white);
        }

    </style>

    <template>
        <div id="toolbar">
            <paper-button on-tap="_openLibrary">
                <iron-icon icon="av:library-books"></iron-icon>
                Library
            </paper-button>
            <paper-button>
                <iron-icon icon="filter-list"></iron-icon>
            </paper-button>
        </div>

        <div id="list">
            <template is="dom-if" if="{{!_items.length}}">
                <div id="empty">Catalog is empty.</div>
            </template>
            <template is="dom-repeat" items="[[_presenter.categorizedItems]]" as="categorizedItem">
                <div class="section">

                    <div class="category">
                        <span class="label">[[categorizedItem.category.label]]</span>
                    </div>

                    <template is="dom-repeat" items="[[categorizedItem.catalogItems]]" as="catalogItem">
                        <div class$="{{_getItemClass(catalogItem)}}"
                             draggable="true"
                             on-dragstart="_itemDragStart"
                             on-tap="_itemSelected">
                            <span class="label">[[catalogItem.label]]</span>
                        </div>
                    </template>

                </div>
            </template>
        </div>
    </template>

</dom-module>

