<link rel="import" href="../shared/or-panel.html">

<link rel="import" href="or-editor-node-behaviors.html">
<link rel="import" href="or-editor-node-change.html">
<link rel="import" href="or-editor-node-widget.html">
<link rel="import" href="or-editor-node-textlabel.html">
<link rel="import" href="or-editor-node-pushbutton.html">
<link rel="import" href="or-editor-node-filter.html">
<link rel="import" href="or-editor-node-function.html">

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">

<script>
    document.addEventListener("gwtReadyClient", function () {
        Polymer({
            is: 'or-editor-flow-node',
            behaviors: [openremote.PresenterAware],
            properties: {
                _presenter: {
                    type: Object,
                    value: function () {
                        return new openremote.editor.flow.node.FlowNodePresenter(this);
                    }
                }
            },
            listeners: {
                "flow-node-open": "_onFlowNodeOpen",
                "flow-node-close": "_onFlowNodeClose"
            },
            observers: [
                "_nodeChanged(_presenter.node.label)",
                "_nodeChanged(_presenter.node.clientAccess)"
            ],
            _onFlowNodeOpen: function () {
                this.toggleAttribute("hidden", false, this.$.panel);
                this.$.panel.open();
            },
            _onFlowNodeClose: function () {
                this.toggleAttribute("hidden", true, this.$.panel);
            },
            _nodeChanged: function (e) {
                this._presenter.nodeChanged();
            },
            _deleteNode: function() {
                this._presenter.deleteNode();
            },
            _duplicateNode: function() {
                this._presenter.duplicateNode();
            },
            _getSinkLabel: function(sink) {
                return this._presenter.getSinkLabel(sink);
            },
            _sendSinkMessage: function (e) {
                var slot = e.model.sink;
                var body = e.model.sink.msgValue;
                this._presenter.sendSinkMessage(slot, body);
            }
        });
    });
</script>

<dom-module id="or-editor-flow-node">

    <style>
        :host {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        #panel {
            --or-panel-width: 300px;
            --or-panel-max-height: 60vh;
        }

        .content {
            padding: 0 0.4em;
            user-select: text;
            -webkit-user-select: text;
            -moz-user-select: text;
        }

        .sinkIndex {
            background: var(--or-editor-flow-sink-background-color, black);
            color: var(--or-editor-flow-sink-foreground-color, white);
            margin: 0 0.5em;
            padding: 0.5em;
            border-radius: 0.2em;
        }
    </style>

    <template>
        <or-panel id="panel"
                  switchable="right"
                  title="[[_presenter.flowNodeTitle]]"
                  dirty="[[_presenter.flowNodeDirty]]"
                  hidden>

            <div class="topToolbar">

                <template is="dom-if" if="[[!_presenter.isSubflow]]">
                    <paper-toggle-button checked="{{_presenter.node.clientAccess}}"></paper-toggle-button>
                    <span>CLIENT ACCESS</span>
                </template>

                <paper-menu-button no-animations
                                   horizontal-align="right"
                                   vertical-align="top"
                                   horizontal-offset="40"
                                   vertical-offset="20">
                    <paper-button class="dropdown-trigger">
                        <iron-icon icon="menu"></iron-icon>
                        Manage
                    </paper-button>
                    <paper-menu class="dropdown-content">
                        <div>
                            <paper-button  on-tap="_duplicateNode">
                                <iron-icon icon="content-copy"></iron-icon>
                                Duplicate
                            </paper-button>
                        </div>
                        <div>
                            <paper-button  on-tap="_deleteNode">
                                <iron-icon icon="delete"></iron-icon>
                                Remove
                            </paper-button>
                        </div>
                    </paper-menu>
                </paper-menu-button>

            </div>

            <div class="content">

                <div id="mainForm" class="form">

                    <div class="formItem">
                        <div class="formValue">
                            <paper-input label="Label"
                                         value="{{_presenter.node.label}}"></paper-input>
                        </div>
                    </div>

                </div>

                <div id="editorComponentContainer"></div>

                <template is="dom-repeat" items="{{_presenter.sinks}}" as="sink">
                    <div id=slots" class="layout horizontal center">
                        <template is="dom-if" if="{{_presenter.hasMultipleSinks}}">
                            <div class="sinkIndex">{{index}}</div>
                        </template>
                        <div class="flex sinkInput">
                            <paper-input autofocus
                                         value="{{sink.msgValue}}"
                                         label="{{_getSinkLabel(sink)}}"></paper-input>
                        </div>
                        <div>
                            <paper-button on-tap="_sendSinkMessage">
                                <iron-icon icon="send"></iron-icon>
                                Send
                            </paper-button>
                        </div>
                    </div>
                </template>

            </div>

        </or-panel>
    </template>
</dom-module>

