<link rel="import" href="../shared/or-panel.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<script>
    document.addEventListener("gwtReadyClient", function () {
        Polymer({
            is: 'or-editor-flow-control',
            behaviors: [openremote.PresenterAware],
            properties: {
                _presenter: {
                    type: Object,
                    value: function () {
                        return new openremote.editor.flow.control.FlowControlPresenter(this);
                    }
                }
            },
            listeners: {
                'session-connect': "_sessionConnect",
                'flow-control-stop': "_onFlowControlStop"
            },
            observers: [
                "_flowStatusDetailUpdated(_presenter.flowStatusDetail)",
                "_flowUnsavedUpdated(_presenter.unsaved)",
                "_flowPropertyChanged(_presenter.flow.label)"
            ],
            _sessionConnect: function () {
                this.toggleAttribute("hidden", false, this.$.panel);
            },
            _onFlowControlStop: function () {
                this.toggleAttribute("hidden", true, this.$.panel);
            },
            _flowStatusDetailUpdated: function (flowStatusDetail) {
                this.toggleAttribute("disabled", !flowStatusDetail || !flowStatusDetail.canStart, this.$.startButton);
                this.toggleAttribute("disabled", !flowStatusDetail || !flowStatusDetail.canStop, this.$.stopButton);
            },
            _flowUnsavedUpdated: function (unsaved) {
                this.toggleAttribute("disabled", unsaved, this.$.deleteButton);
            },
            _flowPropertyChanged: function (value) {
                if (value === undefined)
                    return;
                this._presenter.flowPropertyChanged();
/*
                if (value === undefined)
                    return;
                this.debounce("FlowPropertyChanged", function() {
                    this._presenter.flowPropertyChanged();
                }.bind(this), 1000);
*/
            },
            _redeployFlow: function () {
                this._presenter.redeployFlow();
            },
            _saveFlow: function () {
                this._presenter.saveFlow();
            },
            _stopFlow: function () {
                this._presenter.stopFlow();
            },
            _startFlow: function () {
                this._presenter.startFlow();
            },
            _deleteFlow: function () {
                this._presenter.deleteFlow();
            },
            _exportFlow: function () {
                console.log(this._presenter.exportFlow());
            }
        });
    });
</script>

<dom-module id="or-editor-flow-control">

    <style>
        :host {
            position: absolute;
            top: 10px;
            left: 10px;
        }

        #panel {
            --or-panel-width: 300px;
            --or-panel-max-height: 100px;
        }

        .content {
            padding: 0.4em;
        }

        .flowStatus .deploying,
        .flowStatus .deployed,
        .flowStatus .problem {
            font-weight: bold;
        }

        .flowStatus .deployed {
            color: var(--or-editor-text-green-color, green);
        }

        .flowStatus .deploying {
            color: var(--or-editor-text-yellow-color, yellow);
        }

        .flowStatus .warn {
            color: var(--or-editor-text-red-color, red);
        }
    </style>

    <template>
        <or-panel id="panel"
                  switchable="left"
                  title="[[_presenter.flowControlTitle]]"
                  dirty="[[_presenter.flowControlDirty]]"
                  hidden>

            <div class="toolbar">
                <paper-button id="redeployButton" on-tap="_redeployFlow">
                    <iron-icon icon="refresh"></iron-icon>
                    Redeploy
                </paper-button>
                <paper-menu-button no-animations horizontal-align="right" vertical-align="top">
                    <paper-button class="dropdown-trigger">
                        <iron-icon icon="menu"></iron-icon>
                        Manage
                    </paper-button>
                    <paper-menu class="dropdown-content">
                        <div>
                            <paper-button disabled id="startButton" on-tap="_startFlow">
                                <iron-icon icon="av:play-arrow"></iron-icon>
                                Start
                            </paper-button>
                        </div>
                        <div>
                            <paper-button id="stopButton" on-tap="_stopFlow">
                                <iron-icon icon="av:stop"></iron-icon>
                                Stop
                            </paper-button>
                        </div>
                        <div>
                            <paper-button on-tap="_saveFlow">
                                <iron-icon icon="icons:save"></iron-icon>
                                Save
                            </paper-button>
                        </div>
                        <div>
                            <paper-button id="deleteButton" on-tap="_deleteFlow">
                                <iron-icon icon="icons:delete"></iron-icon>
                                Remove
                            </paper-button>
                        </div>
                        <div>
                            <paper-button on-tap="_exportFlow">
                                <iron-icon icon="communication:call-made"></iron-icon>
                                Export
                            </paper-button>
                        </div>
                        <div>
                            <paper-button on-tap="_importFlow">
                                <iron-icon icon="communication:call-received"></iron-icon>
                                Import
                            </paper-button>
                        </div>
                    </paper-menu>
                </paper-menu-button>
            </div>

            <div class="content">
                <div class="form">
                    <div class="formItem flowStatus">
                        <div class="formLabel">Status:</div>
                        <div class="formValue">
                            <span class$="[[_presenter.flowStatusDetail.mark]]">[[_presenter.flowStatusDetail.text]]</span>
                        </div>
                    </div>
                    <div class="formItem">
                        <div class="formValue">
                            <paper-input label="Label"
                                         value="{{_presenter.flow.label}}"></paper-input>
                        </div>
                    </div>
                </div>
            </div>

        </or-panel>

    </template>
</dom-module>

