<link rel="import" href="or-editor-flow-node.html">
<link rel="import" href="or-editor-flow-control.html">

<dom-module id="or-editor-flow-editor">

    <style>
        :host {
            position: relative;
        }

        :host, #flowDesigner {
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        #flowDesigner {
        }

        #flowDesigner.dragOver {
            background: radial-gradient(#ccc 0, #ccc 15%, white 15%, white 100%);
            background-origin: padding-box;
            background-clip: border-box;
            background-size: 10px 10px;
        }

        #empty {
            padding: 0.5em;
        }

    </style>

    <template>

        <template is="dom-if" if="{{!_presenter.flow}}">
            <div id="empty">Please select or create a data flow in your inventory.</div>
        </template>

        <div id="flowDesigner"
             on-dragenter="_onDragEnter"
             on-dragleave="_onDragLeave"
             on-dragover="_onDragOver"
             on-drop="_onDrop"></div>

        <or-editor-flow-control id="flowControl"></or-editor-flow-control>

        <or-editor-flow-node id="flowNode"></or-editor-flow-node>

    </template>

    <script>
        document.addEventListener("gwtReadyClient", function () {

            Polymer({
                is: 'or-editor-flow-editor',
                properties: {
                    _presenter: {
                        type: Object,
                        value: function () {
                            return new openremote.editor.flow.editor.FlowEditorPresenter(this);
                        }
                    }
                },
                listeners: {
                    'flow-edit': "_flowEdit",
                    'flow-designer-node-selected': '_flowDesignerNodeSelected'
                },
                attached: function () {
                    // Need to do this async, when the shady children are available
                    this.async(function () {
                        this._presenter.prepareFlowDesignerContainer(this.$.flowDesigner);
                    })
                },
                _flowEdit: function (ce, event) {

                    this.async(function () {
                        this.notifyPath("_presenter.flow", this._presenter.flow);
                    });

                    var flowControlStartEvent = new openremote.editor.flow.control.FlowControlStartEvent(event.getFlow());
                    this.$.flowControl.fire(flowControlStartEvent.getType(), flowControlStartEvent);

                    var flowNodeCloseEvent = new openremote.editor.flow.node.FlowNodeCloseEvent(this._presenter.flow);
                    this.$.flowNode.fire(flowNodeCloseEvent.getType(), flowNodeCloseEvent);
                },
                _flowDesignerNodeSelected: function (type, event) {
                    var flowNodeEditEvent = new openremote.editor.flow.node.FlowNodeEditEvent(this._presenter.flow, event.getNode());
                    this.$.flowNode.fire(flowNodeEditEvent.getType(), flowNodeEditEvent);
                },
                _onDragEnter: function (e) {
                    this.toggleClass("dragOver", true, this.$.flowDesigner);
                },
                _onDragLeave: function (e) {
                    this.toggleClass("dragOver", false, this.$.flowDesigner);
                },
                _onDragOver: function (e) {
                    e.preventDefault();
                    e.dataTransfer.dropEffect = "copy";
                },
                _onDrop: function (e) {
                    e.preventDefault();
                    this.toggleClass("dragOver", false, this.$.flowDesigner);
                    var nodeType = e.dataTransfer.getData("text/plain");
                    var event = new openremote.ShowInfoEvent(
                            "TODO: Implement node drop '" + nodeType +"' at position: " + e.offsetX + "/" + e.offsetY
                    );
                    this.fire(event.getType(), event);
                }

            });
        });
    </script>
</dom-module>

