<link rel="import" href="or-editor-node-behaviors.html">

<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<dom-module id="or-editor-node-pushbutton">

    <style>
    </style>
    <template>
        <div class="form">

            <div class="formItem">
                <div class="formValue">
                    <div class="flex layout horizontal center">
                        <paper-input
                                class="flex"
                                label="Click Down Value"
                                value="{{nodeProperties.downValue}}"></paper-input>
                        <div class="formDivider"></div>
                        <paper-input
                                class="flex"
                                label="Click Up Value"
                                value="{{nodeProperties.upValue}}"></paper-input>
                    </div>
                </div>
            </div>
            <div class="formItem">
                <div class="formValue">
                    <paper-input
                            class="flex"
                            label="Button Text"
                            value="{{nodeProperties.text}}"></paper-input>
                </div>
            </div>
            <div class="formItem">
                <div class="formValue">
                    <div class="flex layout horizontal center">
                        <paper-input
                                class="flex"
                                label="Font Size (px)"
                                preventInvalidInput="true"
                                type="number" min="5" max="5000"
                                value="{{nodeProperties.fontSizePixels}}"></paper-input>
                        <div class="formDivider"></div>
                        <paper-input
                                class="flex"
                                label="Text Color"
                                value="{{nodeProperties.color}}"></paper-input>
                    </div>
                </div>
            </div>
            <div class="formItem">
                <div class="formValue">
                    <div class="flex layout horizontal center">
                        <paper-input
                                class="flex"
                                label="Background Color"
                                value="{{nodeProperties.backgroundColor}}"></paper-input>
                        <div class="formDivider"></div>
                        <div class="flex layout horizontal center around-justified">
                            <span>RAISED</span>
                            <paper-toggle-button
                                    checked="{{nodeProperties.raised}}"></paper-toggle-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="formItem">
                <div class="formValue">
                    <div class="flex layout horizontal center">
                        <paper-input
                                class="flex"
                                label="Icon"
                                value="{{nodeProperties.icon}}"></paper-input>
                        <div class="formDivider"></div>
                        <paper-dropdown-menu
                                class="flex"
                                label="Icon Position">
                            <paper-menu class="dropdown-content"
                                        attr-for-selected="value"
                                        selected="{{nodeProperties.iconPosition}}">
                                <paper-item value="left">Left</paper-item>
                                <paper-item value="right">Right</paper-item>
                                <paper-item value="top">Top</paper-item>
                                <paper-item value="bottom">Bottom</paper-item>
                            </paper-menu>
                        </paper-dropdown-menu>
                    </div>
                </div>
            </div>

        </div>
    </template>
    <script>
        Polymer({
            is: "or-editor-node-pushbutton",
            behaviors: [openremote.NodeEditor]
        });
    </script>
</dom-module>


