<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">

<script>
    document.addEventListener("gwtReadyClient", function () {
        Polymer({
            is: 'or-editor-flows',
            behaviors: [openremote.PresenterAware],
            properties: {
                _presenter: {
                    type: Object,
                    value: function () {
                        return new openremote.editor.flow.FlowsPresenter(this);
                    }
                }
            },
            _flowSelected: function (e) {
                this._presenter.loadFlow(e.model.flowItem.flow.getId());
            },
            _createFlow: function () {
                this._presenter.createFlow();
            },
            _flowDragStart: function (e) {
                e.dataTransfer.setData("flowId", e.model.flowItem.flow.getId());
                e.dataTransfer.effectAllowed = 'link';
            }
        });
    });
</script>

<dom-module id="or-editor-flows">

    <style>
        :host {
            display: flex;
            display: -webkit-flex;
            flex-direction: column;
            -webkit-flex-direction: column;
            @apply(--or-editor-flows)
        }

        #toolbar {
            flex: 0 0 40px;
            -webkit-flex: 0 0 40px;
            display: flex;
            display: -webkit-flex;
            justify-content: space-around;
            -webkit-justify-content: space-around;
            white-space: nowrap;
            font-size: smaller;

            @apply(--or-editor-flows-toolbar)
        }

        #toolbar paper-menu .iron-selected {
            font-weight: inherit;
        }

        #list {
            flex: 1 0 0;
            -webkit-flex: 1 0 0;
            overflow: auto;
            padding: 0.4em;
            min-height: 2em;
            font-size: smaller;

            @apply(--or-editor-flows-list);
        }

        #list #empty {
            @apply(--or-editor-flows-list-empty)
        }

        .flow {
            display: inline-block;
            margin: 0.2em;
            padding: 0.4em;
            border-radius: 0.4em;
            background-color: var(--or-editor-flow-item-background-color, white);
            cursor: pointer;
        }

        .flow .label {
            color: var(--or-editor-flow-item-label-color, black);
        }

        .flow .label.unlabeled {
            font-style: italic;
        }

        .flow .status {
            display: inline-block;
            line-height: 0;
            vertical-align: middle;
            color: var(--or-editor-mark-default-color, black);
        }

        .flow .status:before {
            content: ' \25CF';
            font-size: 25px;
        }

        .flow .status.deployed {
            color: var(--or-editor-mark-deployed-color, green);
        }

        .flow .status.deploying {
            color: var(--or-editor-mark-deploying-color, yellow);
        }

        .flow .status.problem {
            color: var(--or-editor-mark-problem-color, red);
        }

    </style>

    <template>

        <div id="toolbar">
            <paper-button on-tap="_createFlow">
                <iron-icon icon="add-box"></iron-icon>
                New
            </paper-button>
            <paper-button on-tap="_openLibrary">
                <iron-icon icon="av:library-books"></iron-icon>
                Library
            </paper-button>
            <paper-button>
                <iron-icon icon="filter-list"></iron-icon>
            </paper-button>
        </div>

        <div id="list">
            <template is="dom-if" if="{{!_presenter.flowItems.length}}">
                <div id="empty">No flows found.</div>
            </template>
            <template is="dom-repeat" items="[[_presenter.flowItems]]" as="flowItem">
                <div class="flow"
                     on-tap="_flowSelected"
                     draggable="[[_presenter.flowEditorVisible]]"
                     on-dragstart="_flowDragStart">
                    <div>
                        <template is="dom-if" if="[[flowItem.flow.label]]">
                            <span class="label">[[flowItem.flow.label]]</span>
                        </template>
                        <template is="dom-if" if="[[!flowItem.flow.label]]">
                            <span class="label unlabeled">Unlabeled Flow</span>
                        </template>
                        <span class$="[[flowItem.statusClass]]"></span>
                    </div>
                </div>
            </template>
        </div>
    </template>
</dom-module>

