<script src="../util.js"></script>
<script src="../../gwt/Client/Client.nocache.js"></script>

<link rel="import" href="../shared/or-form.html">

<link rel="import" href="or-editor-sidebar.html">
<link rel="import" href="or-editor-flow-editor.html">

<script>
    function onGwtReadyClient() {
        waitUntil(function () {
            return window.Polymer;
        }, 100, 50, function () {
            document.dispatchEvent(new CustomEvent("gwtReadyClient"));
        });
    }

    document.addEventListener("gwtReadyClient", function () {
        Polymer({
            is: 'or-editor',
            properties: {
                _presenter: {
                    type: Object,
                    value: function() {
                        return new openremote.editor.EditorPresenter(this);
                    }
                },
                _flowEditorOpen: {
                    type: Boolean,
                    value: false
                }
            },
            listeners: {
                "flow-loaded": "_onFlowLoaded"
            },
            _onFlowLoaded: function (ce, event) {
                var flowEditEvent = new openremote.editor.flow.editor.FlowEditEvent(event.getFlow());
                this.$.flowEditor.fire(flowEditEvent.getType(), flowEditEvent);
                this.set("_flowEditorOpen", true);
            }
        });
    });
</script>

<dom-module id="or-editor">
    <style>

        :host {
            height: 100vh;
            display: flex;
            flex-direction: column;
        }

        #container {
            flex: 1 1 auto;
            display: flex;
            flex-direction: row;
        }

        #sidebar {
            background: var(--or-editor-sidebar-background-color, black);
            color: var(--or-editor-sidebar-color, white);
            max-width: 240px;
            min-width: 240px;
            font-size: smaller;
            overflow: hidden;
        }

        #main {
            background: var(--or-editor-main-background-color, white);
            flex-grow: 1;
            width: 100%;
            height: 100vh;
            overflow: hidden;
        }

        @media all and (max-width: 640px) {

            #container {
                flex-direction: column;
            }

            #container > #sidebar {
                min-width: 100%;
                max-width: 100%;
                min-height: 40vh;
                max-height: 40vh;
            }

            #container > #main {
                height: 60vh;
            }
        }

    </style>
    <template>
        <div id="container">
            <div id="sidebar">
                <or-editor-sidebar library-visible$="[[_flowEditorOpen]]"></or-editor-sidebar>
            </div>
            <div id="main">
                <or-editor-flow-editor id="flowEditor"></or-editor-flow-editor>
            </div>
        </div>
    </template>
</dom-module>


