<link rel="import" href="or-editor-node-behaviors.html">

<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="or-editor-node-textlabel">

    <style>
    </style>
    <template>
        <div class="form">
            <div class="formItem">
                <div class="formValue">
                    <paper-input
                            label="Empty Value"
                            value="{{nodeProperties.emptyValue}}"></paper-input>
                </div>
            </div>
            <div class="formItem">
                <div class="formValue">
                    <div class="flex layout horizontal center">
                        <paper-input
                                class="flex"
                                label="Font Size (px)"
                                preventInvalidInput="true"
                                type="number" min="5" max="5000"
                                value="{{nodeProperties.fontSizePixels}}"></paper-input>
                        <div class="formDivider"></div>
                        <paper-input
                                class="flex"
                                label="Text Color"
                                value="{{nodeProperties.textColor}}"></paper-input>
                    </div>
                </div>
            </div>
        </div>

    </template>
    <script>
        Polymer({
            is: "or-editor-node-textlabel",
            behaviors: [openremote.NodeEditor]
        });
    </script>
</dom-module>


