<link rel="import" href="or-console-widget-behaviors.html">

<dom-module id="or-console-widget-textlabel">
    <style>
        :host {
            display: block;
            position: absolute;
        }

        #container {
            background: lightgreen;
            color: black;
        }

    </style>
    <template>
        <div id="container">TextLabel: <span>[[value]]</span></div>
    </template>
    <script>
        Polymer({
            is: "or-console-widget-textlabel",
            behaviors: [OpenRemoteConsole.Widget],
            properties: {
                _presenter: {
                    type: Object,
                    value: function () {
                        return new openremote.console.WidgetPresenter(
                                this,
                                new openremote.shared.widget.TextLabel()
                        );
                    }
                }
            }
        });
    </script>
</dom-module>


