<script>
    window.openremote = window.openremote || {};

    window.openremote.WidgetImpl = {
        properties: {
            _presenter: {
                type: Object,
                value: function () {
                    return new openremote.console.ConsoleWidgetPresenter(this);
                }
            },
            nodeId: {
                type: String,
                reflectToAttribute: true
            },
            nodeLabel: {
                type: String,
                reflectToAttribute: true
            },
            persistentPropertyPaths: {
                type: Array,
                value: []
            },
            widgetProperties: {
                type: Object,
                value: undefined
            },
            // This is used as an internal flag as well: It's set when received
            // as a message header, and removed if another message has to be send
            // (due to widgetProperties changing) in the same JS event loop
            visitedWidgets: {
                type: String
            }
        },
        observers: [
            "_onWidgetPropertiesChanged(widgetProperties.*)"
        ],
        _onWidgetPropertiesChanged: function (event) {
            if (event.path != "widgetProperties") {
                var path = event.path.substring("widgetProperties.".length);
                this._presenter.widgetPropertiesChanged(this.widgetProperties, path, event.value);
            }
            this.onWidgetPropertiesChanged();
        },
        onWidgetPropertiesChanged: function () {
        },
        isNumber: function(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        },
        isEmpty: function(value) {
            return !value || String(value).length == 0;
        },
        getInteger: function(value) {
            return parseInt(value);
        },
        getFloat: function(value) {
            return parseFloat(value);
        },
        getString: function(value) {
            return String(value);
        },
        isTrue: function(value) {
            return typeof(value) == "boolean"
                    ? value
                    : !!(this.getString(value).toLowerCase() === "true" || this.getString(value) == "1");
        }
    };

    window.openremote.VisibleWidgetImpl = {
        properties: {
            draggable: {
                type: Boolean,
                observer: "_onDraggableChanged"
            }
        },
        _onDraggableChanged: function (draggable) {
            var controls = this.querySelectorAll(".control");
            for (var i = 0; i < controls.length; i++) {
                var control = controls[i];
                control.style.pointerEvents = draggable ? "none" : "";
            }
        },
        onDragEnd: function (x, y) {
            this.set("widgetProperties.positionX", x);
            this.set("widgetProperties.positionY", y);
        },
        onWidgetPropertiesChanged: function () {
            this.style.left = this.widgetProperties.positionX + "px";
            this.style.top = this.widgetProperties.positionY + "px";
            this.onVisibleWidgetPropertiesChanged();
        },
        onVisibleWidgetPropertiesChanged: function() {

        },
        setStyleVar: function(name, property, suffix) {
            if (!this.isEmpty(this.widgetProperties[property])) {
                this.customStyle[name] = this.getString(this.widgetProperties[property]) + (suffix || "");
            }
        }
    };

    window.openremote.Widget = [openremote.WidgetImpl];
    window.openremote.VisibleWidget = [openremote.Widget, openremote.VisibleWidgetImpl];

</script>
