<link rel="import" href="or-console-widget-behaviors.html">

<link rel="import" href="../../styles/console-widget-style.html">

<dom-module id="or-console-widget-composite">
    <template>
        <style include="console-widget-style"></style>
        <style>
            :host {
                display: block;
                position: relative;
            }
        </style>
    </template>
    <script>
        Polymer({
            is: "or-console-widget-composite",
            behaviors: [openremote.VisibleWidget]
        });
    </script>
</dom-module>


