<link rel="import" href="or-console-widget-behaviors.html">

<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/iron-icons/device-icons.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../bower_components/iron-icons/notification-icons.html">

<link rel="import" href="../../styles/console-widget-style.html">

<dom-module id="or-console-widget-togglebutton">
    <template>
        <style include="console-widget-style"></style>
        <style>
            :host {
                display: block;
                position: absolute;
            }

            #button {
                --paper-toggle-button-checked-bar-color: var(--or-console-widget-togglebutton-on-color, #c1d72f);
                --paper-toggle-button-checked-button-color: var(--or-console-widget-togglebutton-on-color, #c1d72f);
                --paper-toggle-button-checked-ink-color: var(--or-console-widget-togglebutton-on-color, #c1d72f);
                --paper-toggle-button-unchecked-bar-color: var(--or-console-widget-togglebutton-off-color, #cccccc);
                --paper-toggle-button-unchecked-button-color: var(--or-console-widget-togglebutton-off-color, #cccccc);
                --paper-toggle-button-unchecked-ink-color: var(--or-console-widget-togglebutton-off-color, #cccccc);
            }

            .icon {
                width: var(--or-console-widget-togglebutton-width, 38px);
                height: var(--or-console-widget-togglebutton-height, 38px);
                color: var(--or-console-widget-togglebutton-icon-color, #c1d72f);
                background-color: var(--or-console-widget-togglebutton-background-color, transparent);
            }

        </style>

        <template is="dom-if" if="[[!useIcon]]">
            <paper-toggle-button id="button"
                                 class="control"
                                 checked="{{buttonState}}"></paper-toggle-button>
        </template>
        <template is="dom-if" if="[[useIcon]]">
            <template is="dom-if" if="[[buttonState]]">
                <iron-icon class="icon control"
                           icon="[[widgetProperties.onIcon]]"
                           on-tap="_onClicked"></iron-icon>
            </template>
            <template is="dom-if" if="[[!buttonState]]">
                <iron-icon class="icon control"
                           icon="[[widgetProperties.offIcon]]"
                           on-tap="_offClicked"></iron-icon>
            </template>
        </template>
    </template>
    <script>
        Polymer({
            is: "or-console-widget-togglebutton",
            behaviors: [openremote.VisibleWidget],
            properties: {
                buttonState: {
                    type: Boolean,
                    value: false,
                    observer: "_onButtonStateChange"
                },
                useIcon: {
                    type: Boolean,
                    value: false
                }
            },
            _onButtonStateChange: function (newValue, oldValue) {
                if (oldValue !== undefined) {
                    if (newValue) {
                        this._setChecked("1");
                    } else {
                        this._setChecked("0");
                    }
                }
            },
            _setChecked: function (value) {
                this.debounce("ToggleButton Update Buffer", function () {
                    this.set("widgetProperties.checked", value);
                }, 50);
            },
            _onClicked: function () {
                this.set("buttonState", false);
            },
            _offClicked: function () {
                this.set("buttonState", true);
            },
            onVisibleWidgetPropertiesChanged: function () {

                if (!this.isEmpty(this.widgetProperties.checked)) {
                    this.set("buttonState", this.isTrue(this.widgetProperties.checked));
                }

                if (!this.isEmpty(this.widgetProperties.onIcon) && !this.isEmpty(this.widgetProperties.offIcon)) {
                    this.set("useIcon", true);
                    if (this.isNumber(this.widgetProperties.iconSizePixels)) {
                        this.setStyleVar("--or-console-widget-togglebutton-width", "iconSizePixels", "px");
                        this.setStyleVar("--or-console-widget-togglebutton-height", "iconSizePixels", "px");
                    }
                    this.setStyleVar("--or-console-widget-togglebutton-background-color", "iconBackgroundColor");
                }

                if (this.get("buttonState")) {
                    this.setStyleVar("--or-console-widget-togglebutton-icon-color", "onColor");
                } else {
                    this.setStyleVar("--or-console-widget-togglebutton-icon-color", "offColor");
                }

                this.setStyleVar("--or-console-widget-togglebutton-on-color", "onColor");
                this.setStyleVar("--or-console-widget-togglebutton-off-color", "offColor");

                this.updateStyles();
            }
        });
    </script>
</dom-module>


