<script src="../util.js"></script>
<script src="../../gwt/Client/Client.nocache.js"></script>

<link rel="import" href="../../bower_components/polymer/polymer.html">


<link rel="import" href="or-console-widget-textlabel.html"/>


<script>
    function onGwtReadyClient() {
        waitUntil(function () {
            return window.Polymer;
        }, 100, 50, function () {
            document.dispatchEvent(new CustomEvent("gwtReadyClient"));
        });
    }

    document.addEventListener("gwtReadyClient", function () {

        Polymer({
            is: 'or-console',
            properties: {
                _presenter: {
                    type: Object,
                    value: function () {
                        return new openremote.console.ConsolePresenter(this);
                    }
                },
                _haveWidgets: {
                    type: Boolean,
                    value: false
                }
            },
            listeners: {
                "console-refresh": "_onConsoleRefresh"
            },
            _onConsoleRefresh: function () {
                this.async(function () {
                    this.notifyPath("_haveWidgets", this._presenter.haveWidgets);
                })
            }
        });
    });
</script>

<dom-module id="or-console">
    <style>

        :host {
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: var(--or-console-background-color);
        }

        #empty {
            color: var(--or-console-empty-color);
            padding: 1em;
        }

    </style>
    <template>
        <template is="dom-if" if="[[!_haveWidgets]]">
            <div id="empty">
                <h1>OpenRemote Console</h1>

                <p>
                    Open the editor with the button in the right top corner and add widgets to this panel.
                </p>

            </div>
        </template>
        <div id="container"></div>
    </template>
</dom-module>


