<link rel="import" href="or-console-widget-behaviors.html">

<dom-module id="or-console-widget-pushbutton">

    <link rel="import" type="css" href="../../styles/console-widget-style.css">

    <style>
        :host {
            display: block;
            position: absolute;
        }
        #container {
            background: lightblue;
            color: black;
        }

        button {
        }

    </style>
    <template>
        <div id="container">PushButton: <button class="control" on-tap="trigger">CLICK</button></div>
    </template>
    <script>
        Polymer({
            is: "or-console-widget-pushbutton",
            behaviors: [openremote.Widget]
        });
    </script>
</dom-module>


