<link rel="import" href="or-console-widget-behaviors.html">

<dom-module id="or-console-widget-textlabel">

    <link rel="import" type="css" href="../../styles/console-widget-style.css">

    <style>
        :host {
            display: block;
            position: absolute;
        }
    </style>
    <template>
        <div id="container">
            <template is="dom-if" if="[[widgetProperties.text]]">
                <span>[[widgetProperties.text]]</span>
            </template>
            <template is="dom-if" if="[[!widgetProperties.text]]">
                <span>[[widgetProperties.emptyValue]]</span>
            </template>
        </div>
    </template>
    <script>
        Polymer({
            is: "or-console-widget-textlabel",
            behaviors: [openremote.VisibleWidget],
            onVisibleWidgetPropertiesChanged: function () {
                this.$.container.style.color = this.widgetProperties.textColor || "grey";
                this.$.container.style.fontSize = (this.widgetProperties.fontSizePixels || "5") + "px";
            }
        });
    </script>
</dom-module>


