<link rel="import" href="or-console-widget-behaviors.html">

<link rel="import" href="../../bower_components/color-picker-element/dist/color-picker.html">

<link rel="import" href="../../styles/console-widget-style.html">

<dom-module id="or-console-widget-colorpicker">
    <template>
        <style include="console-widget-style"></style>
        <style>
            :host {
                display: block;
                position: absolute;
            }

            #preview {
                height: 1em;
            }
        </style>

        <color-picker class="control"
                      id="picker"
                      width="200" height="200" on-colorselected="_onColorSelected"></color-picker>
        <div id="preview"></div>

    </template>
    <script>
        Polymer({
            is: "or-console-widget-colorpicker",
            behaviors: [openremote.VisibleWidget],
            properties: {
                _selectedColor: {
                    type: String,
                    observer: "_onSelectedColorChanged"
                }
            },
            _onColorSelected: function (e) {
                this.set("_selectedColor", e.detail.hex);
            },
            onVisibleWidgetPropertiesChanged: function () {
                this.set("_selectedColor", this.widgetProperties.color);
            },
            _hexToRgb: function (hex) {
                var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
                return result ? {
                    r: parseInt(result[1], 16),
                    g: parseInt(result[2], 16),
                    b: parseInt(result[3], 16)
                } : null;
            },
            _onSelectedColorChanged: function(newValue, oldValue) {
                this.$.picker.setColor(this._hexToRgb(newValue));
                this.$.preview.style.backgroundColor = newValue;
                if (oldValue !== undefined) {
                    this.job = this.debounce(this.job, function () {
                        this.set("widgetProperties.color", newValue);
                    }, 250);
                }
            }
        });
    </script>
</dom-module>


