<script>
    window.openremote = window.openremote || {};

    window.openremote.ValueAwareWidget = {

        properties: {
            value: {
                type: String,
                observer: "_onValueChange"
            }
        },
        listeners: {
            "update-value": "_onUpdateValue"

        },
        ready: function () {
            Polymer.dom(this).classList.add("or-console-widget");
        },
        _onValueChange: function (newValue, oldValue) {
            // When the value changes on a widget, we push it up to the parent widget
            var parent = Polymer.dom(this).parentNode;
            if (parent && parent.classList.contains("or-console-widget")) {
                parent.setAttribute("value", newValue);
            }
        },
        _onUpdateValue: function (event, detail) {
            var updatedValue = detail.value;
            // When a widget fires an update event, we push it down until we hit a sink that sends a message
            var widgets = this.querySelectorAll(".or-console-widget");
            for (var i = 0; i < widgets.length; i++) {
                var widget = widgets[i];
                this.fire("update-value", detail, {bubbles: false, node: widget});
            }
        },
        updateValue: function (value) {
            this.fire("update-value", {value: value}, {bubbles: false});
        },
        trigger: function () {
            this.updateValue(1);
        }
    };

    window.openremote.VisibleWidget = {
        properties: {
            positionX: {
                type: Number,
                reflectToAttribute: true,
                observer: "_onPositionXChanged"
            },
            positionY: {
                type: Number,
                reflectToAttribute: true,
                observer: "_onPositionYChanged"
            },
            draggable: {
                type: Boolean,
                observer: "_onDraggableChanged"
            }
        },
        _onPositionXChanged: function (newValue) {
            this.style.left = newValue + "px";
            var widgetPropertyChangedEvent = new openremote.console.WidgetPropertyChangedEvent(
                    openremote.shared.widget.Widget.PROPERTY_POSITION_X,
                    newValue
            );
            this.fire(widgetPropertyChangedEvent.getType(), widgetPropertyChangedEvent);
        },
        _onPositionYChanged: function (newValue) {
            this.style.top = newValue + "px";
            var widgetPropertyChangedEvent = new openremote.console.WidgetPropertyChangedEvent(
                    openremote.shared.widget.Widget.PROPERTY_POSITION_Y,
                    newValue
            );
            this.fire(widgetPropertyChangedEvent.getType(), widgetPropertyChangedEvent);
        },
        _onDraggableChanged: function(draggable) {
            var controls = this.querySelectorAll(".control");
            for (var i = 0; i < controls.length; i++) {
                var control = controls[i];
                control.style.pointerEvents = draggable ? "none" : "";
            }
        }
    };

    window.openremote.Widget = [openremote.ValueAwareWidget, openremote.VisibleWidget]


</script>
